{% extends "base/admin_base.html" %}

{% block title %}
{{ page_or_update|capfirst }} List
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'initiative_user_initiatives' %}">Initiatives</a></li>
    <li class="breadcrumb-item" aria-current="page">{{ initiative.name }}</li>
    <li class="breadcrumb-item active" aria-current="page">{{ page_or_update|capfirst }}</li>
{% endblock breadcrumb %}

{% block dashboard_js %}
   {% include 'elements/sortable.html' %}
{% endblock dashboard_js %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
            <h1>{{ page_or_update|capfirst }} List</h1>
            <p class="lead">A list of {{ page_or_update }}s for {{ initiative.name }}.</p>
            {% if page_or_update == 'page' %}
                <p>In order to preserve the layout on the landing page, initiatives should have either 1 page, 2 pages, or 5 pages</p>
            {% endif %}


        <br /> <br />
            <form method="POST">
            <table class="table table-striped" id="initiatives">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Created</th>
                        <th>Last Updated By</th>
                        <th>Display</th>
                        <th>URL</th>
                        <th>Edit</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody id="sortable">
                {% for obj in objects %}
                    <tr id="initiative_page-{{ obj.pk }}">
                        <td><i class="fas fa-sort"></i></td>
                        <td>{{ obj.title }} ({{ obj.initiative }})</td>
                        <td>{{ obj.created }}</td>
                        <td>{{ obj.updated_by.profile.full_name }}</td>
                        <td>{{ obj.display }}</td>
                        <td>/nav/{{ obj.url_expression }}</td>
                        <td><a href="{% url 'page_edit' obj.initiative.pk "page" obj.pk %}">Edit Page</a></td>
                        <td><a href="{% url 'page_render' obj.pk %}">View</a></td>
                    </tr>
                    {% empty %}
                {% endfor %}
                </tbody>
            </table>
            </form>
      </div>

    </section>
{% endblock content %}

