{% extends "base/admin_base.html" %}
{% load static two_factor %}

{% block title %}{{ page.title }} Diff{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }} Diff</li>
{% endblock breadcrumb %}

{% block content %}
<section class="content">
    <div class="container-fluid">
		<div class="row">
		    <div class="col-md-12">
		        <p class="lead">Diffing {{ version_one.pk }} and {{ version_two.pk }}</p>
		        {{ diff_out|safe }}
		    </div>
		</div>
	</div>
</section>
{% endblock content %}