{% extends "base/admin_base.html" %}
{% load static two_factor %}
{% load django_bootstrap5 %}

{% block title %}{% get_site_text 'edit_homepage_quotation' %}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'homepage_quotes' %}">{% get_site_text 'homepage_quotation_configuration' %}</a></li>
    <li class="breadcrumb-item" aria-current="page">{% get_site_text 'edit_homepage_quotation' %}</li>
    {% endblock breadcrumb %}

{% block content %}
<span id="active_page" class="whoweare">&nbsp;</span>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <form enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button type="submit" class="btn btn-primary">
                                {% get_site_text 'save' %}
                            </button>
                            {% if page %}
                                <button type="submit" name="set_current" class="btn btn-success">
                                    {% get_site_text 'save' %}
                                </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}