{% extends "base/admin_base.html" %}
{% load static two_factor %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}

{% block title %}Fixed Pages{% endblock title %}

{% block breadcrumb %}
        <li class="breadcrumb-item" aria-current="page">Fixed Page</li>
    {% endblock breadcrumb %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">Fixed Pages</p>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Certain locations within the CMS are fixed (e.g. "Terms and Conditions"). This page allows you to map these entries to CMS entries.
                        </p>
                        {% if page %}
                        <p>You can control versions, and which of them is live, from the <a
                                href="{% url 'page_detail' initiative.pk page_or_update page.pk %}">detail</a> page.</p>
                        {% endif %}
                        <form enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button type="submit" class="btn btn-primary">
                                Save
                            </button>
                            {% if page %}
                                <button type="submit" name="set_current" class="btn btn-success">
                                    Save
                                </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}