{% extends "base/admin_base.html" %}

{% block title %}
Homepage Quote Configuration
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">Homepage Quotation Configuration</li>
{% endblock breadcrumb %}

{% block dashboard_js %}
    {% include 'elements/sortable.html' %}
{% endblock dashboard_js %}

{% block content %}
    <span id="active_page" class="homepage_quotes">&nbsp;</span>
    <!-- this span expands the CMS tab -->
    <span id="expand_content_manager">&nbsp;</span>

    <section class="content">
      <div class="container-fluid">
            <h1>Homepage Quote Configuration</h1>
            <p class="lead">This page allows you to configure the display of quotations on the home page. You can add as many quotations as you like, but only the first four will show on the homepage.</p>
            <a href="{% url 'new_quote' %}" class="btn btn-success">
                <i class="fa fa-plus"> </i> Add New Quotation
            </a>

        <br /> <br />

            <table class="table table-striped" id="quotes">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Quote</th>
                        <th>Person</th>
                        <th>Organization</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="sortable">
                {% for obj in quotes %}
                    <tr id="home-quote-{{ obj.id }}">
                        <td><i class="fas fa-sort"></i></td>
                        <td>{{ obj.pill_name }}</td>
                        <td>{{ obj.quotation }}</td>
                        <td>{{ obj.person_attribution }}</td>
                        <td>{{ obj.organization_attribution }}</td>
                        <td><a href="{% url 'edit_quote' obj.pk %}">Edit</a></td>
                        <td><form method="POST" action="{% url 'delete_quote' obj.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="Delete"/></form></td>
                    </tr>
                    {% empty %}
                    <tr>
                    <td colspan="100">
                        No quotations. <a href="{% url 'new_quote' %}">Create one?</a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

      </div>
    </section>
{% endblock content %}
