{% extends "base/admin_base.html" %}

{% block title %}
{% get_site_text 'homepage_quotation_configuration' %}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">{% get_site_text 'homepage_quotation_configuration' %}</li>
{% endblock breadcrumb %}

{% block dashboard_js %}
    {% include 'elements/sortable.html' %}
{% endblock dashboard_js %}

{% block content %}
    <span id="active_page" class="homepage_quotes">&nbsp;</span>
    <!-- this span expands the CMS tab -->
    <span id="expand_content_manager">&nbsp;</span>

    <section class="content">
      <div class="container-fluid">
            <h1>{% get_site_text 'homepage_quotation_configuration' %}</h1>
            <p class="lead">{% get_site_text 'homepage_quotation_configuration_explainer' %}</p>
            <a href="{% url 'new_quote' %}" class="btn btn-success">
                <i class="fa fa-plus"> </i> {% get_site_text 'add' %}
            </a>

        <br /> <br />

            <table class="table table-striped" id="quotes">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% get_site_text 'title' %}</th>
                        <th>{% get_site_text 'quote' %}</th>
                        <th>{% get_site_text 'person' %}</th>
                        <th>{% get_site_text 'organization' %}Organization</th>
                        <th>{% get_site_text 'edit' %}</th>
                        <th>{% get_site_text 'delete' %}</th>
                    </tr>
                </thead>
                <tbody class="sortable">
                {% for obj in quotes %}
                    <tr id="home-quote-{{ obj.id }}">
                        <td><i class="fas fa-sort"></i></td>
                        <td>{{ obj.pill_name }}</td>
                        <td>{{ obj.quotation }}</td>
                        <td>{{ obj.person_attribution }}</td>
                        <td>{{ obj.organization_attribution }}</td>
                        <td><a href="{% url 'edit_quote' obj.pk %}">{% get_site_text 'edit' %}</a></td>
                        <td><form method="POST" action="{% url 'delete_quote' obj.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="{% get_site_text 'delete' %}"/></form></td>
                    </tr>
                    {% empty %}
                    <tr>
                    <td colspan="100">
                        {% get_site_text 'no_quotations' %} <a href="{% url 'new_quote' %}">{% get_site_text 'add' %}</a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

      </div>
    </section>
{% endblock content %}
