{% extends "base/admin_base.html" %}

{% block title %}
{{ page_or_update|capfirst }} List
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'initiative_user_initiatives' %}">{% get_site_text 'initiatives' %}</a></li>
    <li class="breadcrumb-item" aria-current="page">{{ initiative.name }}</li>
    <li class="breadcrumb-item active" aria-current="page">{{ page_or_update|capfirst }}</li>
{% endblock breadcrumb %}

{% block dashboard_js %}
   {% include 'elements/sortable.html' %}
{% endblock dashboard_js %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
            <h1>{{ page_or_update|capfirst }} {% get_site_text 'list' %}</h1>
            <p class="lead">A list of {{ page_or_update }}s / {{ initiative.name }}.</p>
            {% if page_or_update == 'page' %}
                <p>{% get_site_text 'layout_preserve' %}</p>
            {% endif %}
            <a href="{% url 'page_create' initiative.pk page_or_update %}" class="btn btn-success">
                <i class="fa fa-plus"> </i> {% get_site_text 'add' %} {{ page_or_update|capfirst }}
            </a>

        <br /> <br />
            <form method="POST">
            <table class="table table-striped" id="initiatives">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% get_site_text 'title' %}</th>
                        <th>{% get_site_text 'created' %}</th>
                        <th>{% get_site_text 'last_updated_by' %}</th>
                        <th>{% get_site_text 'display' %}</th>
                        <th>{% get_site_text 'details' %}</th>
                        <th>{% get_site_text 'edit' %}</th>
                        <th>{% get_site_text 'preview' %}</th>
                        <th>{% get_site_text 'delete' %}</th>
                    </tr>
                </thead>
                <tbody id="sortable">
                {% for obj in objects %}
                    <tr id="initiative_page-{{ obj.pk }}">
                        <td><i class="fas fa-sort"></i></td>
                        <td>{{ obj.title }}</td>
                        <td>{{ obj.created }}</td>
                        <td>{{ obj.updated_by.profile.full_name }}</td>
                        <td>{{ obj.display }}</td>
                        <td><a href="{% url 'page_detail' initiative.pk page_or_update obj.pk %}">{{ page_or_update|capfirst }} {% get_site_text 'details' %}</a></td>
                        <td><a href="{% url 'page_edit' initiative.pk page_or_update obj.pk %}">{% get_site_text 'edit' %} {{ page_or_update|capfirst }}</a></td>
                        <td>{% if obj.current_version %}
                            <a href="{% url 'view_current_version' initiative.pk page_or_update obj.pk %}" target="_blank">
                         {% get_site_text 'view_current_version' %}
                    </a>{% endif %}
                        </td>
                        <td><a class="delete" href="{% url 'page_delete' initiative.pk page_or_update obj.pk %}">{% get_site_text 'delete' %} {{ page_or_update|capfirst }}</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                    <td colspan="100">
                        {{ page_or_update }}s {% get_site_text 'not_found' %}. <a href="{% url 'page_create' initiative.pk page_or_update %}">{% get_site_text 'add' %}</a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </form>
      </div>

    </section>
{% endblock content %}

