{% extends "base/admin_base.html" %}
{% load static two_factor %}

{% block title %}{% get_site_text 'site_wide_news_config' %}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'site_wide_news_config' %}</li>
{% endblock breadcrumb %}

{% block dashboard_js %}
    {% include "elements/datatables-and-sortable.js.html" with target='pages' %}
{% endblock dashboard_js %}

{% block content %}
<span id="active_page" class="homepage_news">&nbsp;</span>
<!-- this span expands the CMS tab -->
<span id="expand_content_manager">&nbsp;</span>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">{% get_site_text 'site_wide_news_config_items' %}</p>
                <table class="table table-hover" id="updates">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% get_site_text 'page' %}</th>
                            <th>{% get_site_text 'initiative' %}</th>
                            <th>{% get_site_text 'sequence' %}</th>
                            <th>{% get_site_text 'delete' %}</th>
                        </tr>
                    </thead>
                    <tbody class="sortable">
                    {% for news_item in news_items %}
                        <tr id="news-items-{{ news_item.id }}">
                            <td><i class="fas fa-sort"></i></td>
                            <td>{{ news_item.update_item.title }}</td>
                            <td>{{ news_item.update_item.initiative.name }}</td>
                            <td>{{ news_item.order }}</td>
                            <td><form method="POST" action="{% url 'sitewide_news_delete' news_item.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="{% get_site_text 'remove_from_homepage' %}"/></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <table class="table table-hover" id="pages">
                    <thead>
                    <tr>
                        <th>{% get_site_text 'id' %}</th>
                        <th>{% get_site_text 'title' %}</th>
                        <th>{% get_site_text 'initiative' %}</th>
                        <th>{% get_site_text 'date_time' %}</th>
                        <th>{% get_site_text 'edit' %}</th>
                        <th>{% get_site_text 'add_to_homepage' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>{{ page.pk }}</td>
                            <td>{{ page.title }}</td>
                            <td>{{ page.initiative.name }}</td>
                            <td>{{ page.current_version.created }}</td>
                            <td><a href="{% url 'page_edit' page.initiative.pk 'update' page.pk %}">{% get_site_text 'edit' %}</a></td>
                            <td><form method="POST">{% csrf_token %}<input type="hidden" value="{{ page.pk }}" name="page_to_add"></input><input type="submit" class="btn btn-success" value="{% get_site_text 'add_to_homepage' %}"></input></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock content %}