{% extends "base/admin_base.html" %}
{% load static two_factor %}

{% block title %}{% get_site_text 'who_we_are_configuration' %}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'who_we_are_configuration' %}</li>
{% endblock breadcrumb %}

{% block dashboard_js %}
   {% include 'elements/sortable.html' %}
{% endblock dashboard_js %}


{% block content %}
<span id="active_page" class="whoweare">&nbsp;</span>

<!-- this span expands the CMS tab -->
<span id="expand_content_manager">&nbsp;</span>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>{% get_site_text 'board_of_stewards' %}</h2>
                <p><a href="{% url 'add_who_we_are_entry' 'stewards' %}" class="btn btn-success">
                    <i class="fa fa-plus"> </i> {% get_site_text 'add' %}
                </a></p>
                <table class="table table-hover" id="BoS">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% get_site_text 'name' %}</th>
                        <th>{% get_site_text 'affiliation' %}</th>
                        <th>{% get_site_text 'edit' %}</th>
                        <th>{% get_site_text 'delete' %}</th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    {% for steward in stewards %}
                        <tr id="stewards-{{ steward.id }}">
                            <td><i class="fas fa-sort"></i></td>
                            <td>{{ steward.display_name }}</td>
                            <td>{{ steward.affiliation_line }}</td>
                            <td><a href="{% url 'edit_who_we_are_entry' 'stewards' steward.id %}">{% get_site_text 'edit' %}</a></td>
                            <td><form method="POST" action="{% url 'delete_who_we_are_entry' steward.id %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="{% get_site_text 'delete' %}"/></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h2>{% get_site_text 'membership_committee' %}</h2>
                <p><a href="{% url 'add_who_we_are_entry' 'members' %}" class="btn btn-success">
                    <i class="fa fa-plus"> </i> {% get_site_text 'add' %}
                </a></p>
                <table class="table table-hover" id="BoS">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% get_site_text 'name' %}</th>
                        <th>{% get_site_text 'affiliation' %}</th>
                        <th>{% get_site_text 'edit' %}</th>
                        <th>{% get_site_text 'delete' %}</th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    {% for member in members %}
                        <tr id="members-{{ member.id }}">
                            <td><i class="fas fa-sort"></i></td>
                            <td>{{ member.display_name }}</td>
                            <td>{{ member.affiliation_line }}</td>
                            <td><a href="{% url 'edit_who_we_are_entry' 'members' member.id %}">{% get_site_text 'edit' %}</a></td>
                            <td><form method="POST" action="{% url 'delete_who_we_are_entry' member.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="{% get_site_text 'delete' %}"/></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>{% get_site_text 'management_team' %}</h2>
                <p><a href="{% url 'add_who_we_are_entry' 'managers' %}" class="btn btn-success">
                    <i class="fa fa-plus"> </i> {% get_site_text 'add' %}
                </a></p>
                <table class="table table-hover" id="BoS">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% get_site_text 'name' %}</th>
                        <th>{% get_site_text 'affiliation' %}</th>
                        <th>{% get_site_text 'edit' %}</th>
                        <th>{% get_site_text 'delete' %}</th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    {% for manager in managers %}
                        <tr id="managers-{{ manager.id }}">
                            <td><i class="fas fa-sort"></i></td>
                            <td>{{ manager.display_name }}</td>
                            <td>{{ manager.affiliation_line }}</td>
                            <td><a href="{% url 'edit_who_we_are_entry' 'managers' manager.id %}">{% get_site_text 'edit' %}</a></td>
                            <td><form method="POST" action="{% url 'delete_who_we_are_entry' manager.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="{% get_site_text 'delete' %}"/></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <div class="row">
            <div class="col-md-12">
                <h2>{% get_site_text 'secretariat' %}</h2>
                <p><a href="{% url 'add_who_we_are_entry' 'secretariat' %}" class="btn btn-success">
                    <i class="fa fa-plus"> </i> {% get_site_text 'add' %}
                </a></p>
                <table class="table table-hover" id="BoS">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% get_site_text 'name' %}</th>
                        <th>{% get_site_text 'affiliation' %}</th>
                        <th>{% get_site_text 'edit' %}</th>
                        <th>{% get_site_text 'delete' %}</th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    {% for member in secretariat %}
                        <tr id="secretariat-{{ member.id }}">
                            <td><i class="fas fa-sort"></i></td>
                            <td>{{ member.display_name }}</td>
                            <td>{{ member.affiliation_line }}</td>
                            <td><a href="{% url 'edit_who_we_are_entry' 'secretariat' member.id %}">{% get_site_text 'edit' %}</a></td>
                            <td><form method="POST" action="{% url 'delete_who_we_are_entry' member.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="{% get_site_text 'delete' %}"/></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>{% get_site_text 'finance_committee' %}</h2>
                <p><a href="{% url 'add_who_we_are_entry' 'finance' %}" class="btn btn-success">
                    <i class="fa fa-plus"> </i> {% get_site_text 'add' %}
                </a></p>
                <table class="table table-hover" id="BoS">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% get_site_text 'name' %}</th>
                        <th>{% get_site_text 'affiliation' %}</th>
                        <th>{% get_site_text 'edit' %}</th>
                        <th>{% get_site_text 'delete' %}</th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    {% for member in finance %}
                        <tr id="finance-{{ member.id }}">
                            <td><i class="fas fa-sort"></i></td>
                            <td>{{ member.display_name }}</td>
                            <td>{{ member.affiliation_line }}</td>
                            <td><a href="{% url 'edit_who_we_are_entry' 'finance' member.id %}">{% get_site_text 'edit' %}</a></td>
                            <td><form method="POST" action="{% url 'delete_who_we_are_entry' member.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="{% get_site_text 'delete' %}"/></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>{% get_site_text 'previous_board_members' %}</h2>
                <p><a href="{% url 'add_who_we_are_entry' 'previous' %}" class="btn btn-success">
                    <i class="fa fa-plus"> </i> {% get_site_text 'add' %}
                </a></p>
                <table class="table table-hover" id="previous">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% get_site_text 'name' %}</th>
                        <th>{% get_site_text 'affiliation' %}</th>
                        <th>{% get_site_text 'edit' %}</th>
                        <th>{% get_site_text 'delete' %}</th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    {% for member in previous %}
                        <tr id="members-{{ member.id }}">
                            <td><i class="fas fa-sort"></i></td>
                            <td>{{ member.display_name }}</td>
                            <td>{{ member.affiliation_line }}</td>
                            <td><a href="{% url 'edit_who_we_are_entry' 'previous' member.id %}">{% get_site_text 'edit' %}</a></td>
                            <td><form method="POST" action="{% url 'delete_who_we_are_entry' member.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="{% get_site_text 'delete' %}"/></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
{% endblock content %}