{% extends "base/admin_base.html" %}
{% load static two_factor %}

{% block title %}Who We Are Configuration{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Who We Are Configuration</li>
{% endblock breadcrumb %}

{% block dashboard_js %}
   {% include 'elements/sortable.html' %}
{% endblock dashboard_js %}


{% block content %}
<span id="active_page" class="whoweare">&nbsp;</span>

<!-- this span expands the CMS tab -->
<span id="expand_content_manager">&nbsp;</span>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Board of Stewards</h2>
                <p><a href="{% url 'add_who_we_are_entry' 'stewards' %}" class="btn btn-success">
                    <i class="fa fa-plus"> </i> Add New Steward
                </a></p>
                <table class="table table-hover" id="BoS">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Affiliation</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    {% for steward in stewards %}
                        <tr id="stewards-{{ steward.id }}">
                            <td><i class="fas fa-sort"></i></td>
                            <td>{{ steward.display_name }}</td>
                            <td>{{ steward.affiliation_line }}</td>
                            <td><a href="{% url 'edit_who_we_are_entry' 'stewards' steward.id %}">Edit</a></td>
                            <td><form method="POST" action="{% url 'delete_who_we_are_entry' steward.id %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="Delete"/></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h2>Membership Committee</h2>
                <p><a href="{% url 'add_who_we_are_entry' 'members' %}" class="btn btn-success">
                    <i class="fa fa-plus"> </i> Add New Member
                </a></p>
                <table class="table table-hover" id="BoS">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Affiliation</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    {% for member in members %}
                        <tr id="members-{{ member.id }}">
                            <td><i class="fas fa-sort"></i></td>
                            <td>{{ member.display_name }}</td>
                            <td>{{ member.affiliation_line }}</td>
                            <td><a href="{% url 'edit_who_we_are_entry' 'members' member.id %}">Edit</a></td>
                            <td><form method="POST" action="{% url 'delete_who_we_are_entry' member.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="Delete"/></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Management Team</h2>
                <p><a href="{% url 'add_who_we_are_entry' 'managers' %}" class="btn btn-success">
                    <i class="fa fa-plus"> </i> Add New Manager
                </a></p>
                <table class="table table-hover" id="BoS">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Affiliation</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    {% for manager in managers %}
                        <tr id="managers-{{ manager.id }}">
                            <td><i class="fas fa-sort"></i></td>
                            <td>{{ manager.display_name }}</td>
                            <td>{{ manager.affiliation_line }}</td>
                            <td><a href="{% url 'edit_who_we_are_entry' 'managers' manager.id %}">Edit</a></td>
                            <td><form method="POST" action="{% url 'delete_who_we_are_entry' manager.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="Delete"/></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <div class="row">
            <div class="col-md-12">
                <h2>Secretariat</h2>
                <p><a href="{% url 'add_who_we_are_entry' 'secretariat' %}" class="btn btn-success">
                    <i class="fa fa-plus"> </i> Add New Member
                </a></p>
                <table class="table table-hover" id="BoS">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Affiliation</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    {% for member in secretariat %}
                        <tr id="secretariat-{{ member.id }}">
                            <td><i class="fas fa-sort"></i></td>
                            <td>{{ member.display_name }}</td>
                            <td>{{ member.affiliation_line }}</td>
                            <td><a href="{% url 'edit_who_we_are_entry' 'secretariat' member.id %}">Edit</a></td>
                            <td><form method="POST" action="{% url 'delete_who_we_are_entry' member.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="Delete"/></form></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
{% endblock content %}