{% extends "base/admin_base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item">Platform Management</li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'initiative_packages' initiative.pk %}">{{ initiative.name }} Packages</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ package.name }}</li>
    <li class="breadcrumb-item active" aria-current="page">Form Elements Setup</li>
{% endblock %}

{% block dashboard_js %}
   {% include 'elements/sortable.html' %}
{% endblock dashboard_js %}

{% block content %}
    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="my_initiatives">&nbsp;</span>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{% block title %}Form Elements Setup for {{ package.name }}{% endblock %}</h1>
                <p class="lead">Please select the data that you require from users in order to signup to this package.</p>
                <form method="POST">
                {% csrf_token %}
                {{ field_list }} <input class="btn btn-success" type="submit" name="add_new" id="add_new" value="Add this field"></input>
            </form>
            </div>
            <div class="col-md-12">
                <form method="POST">
                    {% csrf_token %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Required</th>
                                <th>Choices</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for element in form_elements %}
                            <tr id="form_element-{{ element.id }}">
                                <td>{{ element.form_element.name }}</td>
                                <td>{{ element.form_element.get_kind_display }}</td>
                                <td>{% if element.form_element.required %}<i class="far fa-check-square"></i>{% else %}<i class="far fa-square"></i>{% endif %}</td>
                                <td>{{ element.form_element.choices }}</td>
                                <td><form method="POST" action="{% url 'form_element_package_delete' package.pk initiative.pk element.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="Delete"/></form></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
      </div>
    </section>
{% endblock content %}