{% extends "base/admin_base.html" %}
{% load django_bootstrap5 %}

{% block title %}Invoice Management - {{ initiative.name }}{% endblock %}

{% block breadcrumb %}
     <li class="breadcrumb-item" aria-current="page"><a href="{% url 'list_order_invoices_initiative' initiative.pk %}">Invoice Management - {{ initiative.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Order {{ order.order_number }}</li>
{% endblock breadcrumb %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Invoice Management - {{ initiative.name }}</h1>
                    <h3>Order {{ order.order_number }}</h3>
                    <p>Listed here are the ordered packages that require invoicing. Note, these packages may not make up the whole order, but contain those that you are a payment processor for.</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Package ID</th>
                                <th>Package Name</th>
                                <th>Price</th>
                                <th>Latest Status Change</th>
                                <th>Change Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for signup in signups %}
                                <tr>
                                    <td>{{ signup.associated_package.pk }}</td>
                                    <td>{{ signup.associated_package.name }}</td>
                                    <td>{{ signup.formatted_price }}</td>
                                    <td>
                                        {% if signup.signupinvoice %}
                                            {{ signup.signupinvoice.last_status_update.get_status_display }} - {{ signup.signupinvoice.last_status_update.date_time|date:"Y-m-d H:i" }}
                                        {% else %}
                                            No status updates
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if signup.signupinvoice%}
                                            <form method="POST">
                                                {% csrf_token %}
                                                <select name="status" class="form-control" id="id_status" onchange="this.form.submit()">
                                                    <option value="new" {% if signup.signupinvoice.status == 'new' %}selected="selected"{% endif %}>New</option>
                                                    <option value="sent" {% if signup.signupinvoice.status == 'sent' %}selected="selected"{% endif %}>Invoice Sent</option>
                                                    <option value="paid" {% if signup.signupinvoice.status == 'paid' %}selected="selected"{% endif %}>Invoice Paid</option>
                                                </select>
                                                <input type="hidden" name="signupinvoice" value="{{ signup.signupinvoice.pk }}"/>
                                            </form>
                                        {% else %}
                                            <form method="POST">
                                                {% csrf_token %}
                                                <button class="btn btn-primary btn-sm" name="signup"
                                                        value="{{ signup.pk }}">
                                                    Begin Processing Signup
                                                </button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
