{% extends "base/admin_base.html" %}
{% load django_bootstrap5 %}

{% block title %}Payment Processors{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Payment Processors</li>
{% endblock breadcrumb %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Payment Processors</h1>
                    <p><a href="{% url 'new_payment_processor' %}" class="btn btn-primary">Add New Payment Processor</a></p>
                    <form method="POST">
                        {% csrf_token %}
                        <table class="table" id="orders">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Countries</th>
                                <th>Delete</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for processor in payment_processors %}
                                <tr>
                                    <td>{{ processor.name }}</td>
                                    <td>
                                        {% for country in processor.countries.all %}
                                            {{ country }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td><form method="POST">{% csrf_token %}<button class="btn btn-danger delete" name="delete" value="{{ processor.pk }}">Delete</button></form></td>
                                    <td><a href="{% url 'edit_payment_processor' processor.pk %}" class="btn btn-primary">Edit</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block dashboard_js %}
    {% include "elements/datatables.js.html" with target='orders' %}
    {% include "elements/delete_check.js.html" %}
{% endblock dashboard_js %}