{% extends "base/admin_base.html" %}

{% block title %}{% get_site_text 'package_approval' %}{% endblock %}
{% block page-title %}{% get_site_text 'package_approval' %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard_index' %}">{% get_site_text 'dashboard' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'package_approval' %}</li>
{% endblock %}

{% block content %}
    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="package_approval">&nbsp;</span>

    <section class="content">
        <div class="container-fluid">
            <p class="lead">{% get_site_text 'packages_not_approved' %}</p>
            <form method="POST">
                {% csrf_token %}
                <table class="table table-striped" id="approvals">
                    <thead>
                        <tr>
                            <th>{% get_site_text 'package_name' %}</th>
                            <th>{% get_site_text 'initiative' %}</th>
                            <th>{% get_site_text 'banding_type' %}</th>
                            <th>{% get_site_text 'default_country_currency' %}</th>
                            <th>{% get_site_text 'description' %}</th>
                            <th>{% get_site_text 'approve' %}</th>
                            <th>{% get_site_text 'edit' %}</th>
                            <th>{% get_site_text 'delete' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for package in packages_awaiting_approval %}
                        <tr>
                            <td>{{ package.name }}</td>
                            <td>{{ package.initiative.name }}</td>
                            <td>{{ package.banding_type }}</td>
                            <td>{{ package.default_country }}</td>
                            <td>
                                <a type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#package-{{ package.pk }}">
                                    {% get_site_text 'view' %}
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-success" name="approve" value="{{ package.pk }}">{% get_site_text 'approve' %}</button>
                            </td>
                            <td>
                                <a target="_blank" href="{% url 'manage_package' package.initiative.pk package.pk %}" class="btn btn-sm btn-warning">{% get_site_text 'edit' %}</a>
                            </td>
                            <td>
                                <button name="delete" value="{{ package.pk }}" class="btn btn-sm btn-danger delete">{% get_site_text 'delete' %}</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </section>

    {% for package in packages_awaiting_approval %}
        <div class="modal" id="package-{{ package.pk }}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">{{ package.name}} Description</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        {{ package.description|safe }}
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

{% block dashboard_js %}

    {% include "elements/datatables.js.html" with target='approvals' %}

<script>
    $(document).ready(function () {
        $(".delete").click(function () {
            if (!confirm("Are you sure you want to delete this package?")) {
                return false;
            }
        });
    });
</script>
{% endblock %}
