{% extends "base/admin_base.html" %}
{% load django_bootstrap5 crispy_forms_tags booleans %}
{% block title %}{% if package %}Manage Meta Package{% else %}Create New Meta Package{% endif %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'list_meta_packages' %}">Meta Packages</a></li>
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Meta Packages</h1>
                <p class="lead">A list of all the meta packages available (both active and inactive). As meta packages span multiple initiatives they can only be managed by staff.</p>
                <p><a href="{% url 'create_meta_package' %}" class="btn btn-success float-end"><i class="fa fa-plus"></i> Add New Meta Package</a></p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Package Name</th>
                        <th># Packages</th>
                        <th>Contact</th>
                        <th>Active</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for package in meta_packages %}
                        <tr>
                            <td>
                                {{ package.name }}
                            </td>
                            <td>
                                {{ package.packages.count }}
                            </td>
                            <td>
                                {% if package.contact %}
                                {{ package.contact.profile.full_name }} ({{ package.contact.email }})
                                {% else %}
                                --
                                {% endif %}
                            </td>
                            <td>
                                {% boolean_font_awesome package.active %}
                            </td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'manage_meta_package' package.pk %}">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger delete">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
{% endblock content %}