{% extends "base/admin_base.html" %}
{% load django_bootstrap5 crispy_forms_tags %}
{% block title %}{% if package %}{% get_site_text 'manage_meta_package' %}{% else %}{% get_site_text 'create_new_meta_package' %}{% endif %}{% endblock %}

{% block dashboard_js %}
    {% include "elements/select_2_includes.html" with target="#id_contact" %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'list_meta_packages' %}">{% get_site_text 'meta_packages' %}</a></li>
    <li class="breadcrumb-item" aria-current="page">{% if package %}{% get_site_text 'manage_meta_package' %}{% else %}{% get_site_text 'create_new_meta_package' %}{% endif %}</li>
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{% if package %}{% get_site_text 'manage_meta_package' %}{% else %}{% get_site_text 'create_new_meta_package' %}{% endif %}</h1>
                <p class="lead">{% get_site_text 'meta_packages_group_description' %}</p>
                {% crispy form %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
