{% extends "base/frontend/base_header_overlap_grey.html" %}
{% load static django_bootstrap5 conflicts %}
{% load django_bootstrap5 crispy_forms_tags %}


{% block css %}
    <link href="{% static 'frontend/css/packages.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    {% get_site_text 'order_number' %} {{ order.order_number }}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'documents' %}">{% get_site_text 'orders_and_documents' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'order_number' %} {{ order.order_number }}</li>
{% endblock breadcrumb %}

<!-- Desktop -->
{% block header %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-left">
            <h1 class="text-left">{% get_site_text 'your_quotation' %}</h1>
            <p class="subhead-no-offset">
                {% get_site_text 'quotation_generated' %} {{ order.order_number }}. {% get_site_text 'quotation_reference' %}
            </p>
        </div>
        <div class="col-2"><img class="catalogue-image" src="{% static 'frontend/img/quotation_group.png' %}"
                                alt="Quotations logo"/></div>
        <div class="col-1"></div>
    </div>
{% endblock header %}

{% block body %}
    <div class="row catalogue-main spacer-top-40">
        <div class="col-1"></div>
        <div class="col package-styled-text">
            {% get_site_text 'order_text_1' %}
            <p class="text-center">
                <a href="{% url 'frozen_document' order.document.pk %}" class="btn btn-primary btn-obc-blue">{% get_site_text 'download_order_documents' %}</a>
            </p>
            {% get_site_text 'order_text_2' %}
            <table class="table package-table">
                <tr class="header-row">
                    <th>{% get_site_text 'initiative' %}</th>
                    <th>{% get_site_text 'packages' %}</th>
                    <th>{% get_site_text 'contact_email' %}</th>
                </tr>
                {% for k, row in contact_rows.items %}
                    <tr>
                        <td><strong>{{ row.initiative.name }}</strong></td>
                        <td>{% for package in row.packages %}{{ package.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        <td>{{ row.contact_email }}</td>
                    </tr>
                {% endfor %}
            </table>

            {% get_site_text 'order_text_3' %}

            <form method="POST">
                {% csrf_token %}
                <table class="table package-table" id="approval_table">
                    <tr class="header-row">
                        <th>{% get_site_text 'package_name' %}</th>
                        <th>{% get_site_text 'cost' %}</th>
                        <th>{% get_site_text 'approved_by_provider' %}</th>
                        <th>{% get_site_text 'approval' %}</th>
                        <th>{% get_site_text 'external' %}</th>
                    </tr>
                    {% for signup in order.packagesignup_set.all %}
                        <tr>
                            <td><strong>{{ signup.associated_package.name }}</strong></td>
                            <td>{{ signup.formatted_price }}</td>
                            <td>
                                {% if signup.initiative_approved %}
                                    <i class="fa fa-check-circle"></i> {{ signup.initiative_approved }}
                                {% else %}
                                    <i class="fa fa-times-circle"></i> {% get_site_text 'not_approved' %}
                                {% endif %}
                            </td>
                            <td>
                                {% if signup.organisation_approved %}
                                    <i class="fa fa-check-circle"></i> {{ signup.organisation_approved }}
                                {% else %}
                                    <button class="btn btn-sm btn-primary btn-obc-blue" name="approve"
                                            value="{{ signup.pk }}">
                                        {% get_site_text 'agree_terms_of_signup' %}
                                    </button>
                                {% endif %}
                            </td>
                            <td>
                                {% if signup.external %}
                                    <a href="{{ signup.external }}">{{ signup.external_display }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
        <div class="col-1"></div>

    </div>
{% endblock body %}

<!-- Mobile -->
{% block header-mobile %}
    <div class="row catalogue-header-mobile">
        <div class="col-1"></div>
        <div class="col-10">
            <img class="catalogue-image-mobile img-fluid" src="{% static 'frontend/img/collective_five.svg' %}"
                 alt="Build your quote image"/>
            <h1>{% get_site_text 'your_quotation' %}</h1>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="catalogue-info-row-mobile row">
        <div class="col-1"></div>
        <div class="col-10">
            <p>{% get_site_text 'quotation_generated' %} {{ order.order_number }}. {% get_site_text 'quotation_reference' %}</p>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock header-mobile %}

{% block body-mobile %}
    <div class="catalogue-main">
        <div class="col">
            <h2>{% get_site_text 'order_documents_button' %}</h2>
            <p class="package-styled-text">{% get_site_text 'order_documents_description' %}</p>
            <p>
                <a href="{% url 'frozen_document' order.document.pk %}" class="btn btn-primary btn-obc-blue">{% get_site_text 'download_order_documents' %}</a>
            </p>
            <h2>{% get_site_text 'contact_details' %}</h2>
            <p class="package-styled-text">{% get_site_text 'contact_details_description' %}</p>
            <table class="table package-table table-responsive">
                <tr class="header-row">
                    <th>{% get_site_text 'initiative' %}</th>
                    <th>{% get_site_text 'packages' %}</th>
                    <th>{% get_site_text 'contact_email' %}</th>
                </tr>
                {% for k, row in contact_rows.items %}
                    <tr>
                        <td><strong>{{ row.initiative.name }}</strong></td>
                        <td>{% for package in row.packages %}{{ package.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        <td>{{ row.contact_email }}</td>
                    </tr>
                {% endfor %}
            </table>

            <h2>{% get_site_text 'approval' %}</h2>
            <p class="package-styled-text">{% get_site_text 'approval_description' %}</p>
            <form method="POST">
                {% csrf_token %}
                <table class="table package-table table-responsive">
                    <tr class="header-row">
                        <th>{% get_site_text 'package_name' %}</th>
                        <th>{% get_site_text 'cost' %}</th>
                        <th>{% get_site_text 'approved_by_initiative' %}</th>
                        <th>{% get_site_text 'approval' %}</th>
                        <th>{% get_site_text 'external' %}</th>
                    </tr>
                    {% for signup in order.packagesignup_set.all %}
                        <tr>
                            <td><strong>{{ signup.associated_package.name }} {{ signup.pk }}</strong></td>
                            <td>{{ signup.formatted_price }}</td>
                            <td>
                                {% if signup.initiative_approved %}
                                    <i class="fa fa-check-circle"></i> {{ signup.initiative_approved }}
                                {% else %}
                                    <i class="fa fa-times-circle"></i> {% get_site_text 'not_approved' %}
                                {% endif %}
                            </td>
                            <td>
                                {% if signup.organisation_approved %}
                                    <i class="fa fa-check-circle"></i> {{ signup.organisation_approved }}
                                {% else %}
                                    <button class="btn btn-sm btn-primary btn-obc-blue" name="approve"
                                            value="{{ signup.pk }}">
                                        {% get_site_text 'approve_this_signup' %}
                                    </button>
                                {% endif %}
                            </td>
                            <td>
                                {% if signup.external %}
                                    <a href="{{ signup.external }}">{{ signup.external_display }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </div>
{% endblock body-mobile %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock js %}

