{% extends "base/frontend/base_header_overlap_grey.html" %}
{% load static django_bootstrap5 conflicts %}
{% load django_bootstrap5 crispy_forms_tags %}


{% block css %}
    <link href="{% static "frontend/css/packages.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
    {% get_site_text_no_edit 'order_form' %}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">{% get_site_text_no_edit 'oa_inits_header' %}</li>
    <li class="breadcrumb-item" aria-current="page">{% get_site_text 'quotations' %}</li>
    <li class="breadcrumb-item" aria-current="page">{% get_site_text_no_edit 'quotation_header' %}: {{ basket.name }}</li>
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text_no_edit 'order_form' %}</li>
{% endblock breadcrumb %}

<!-- Desktop -->
{% block header %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-left">
            <h1 class="text-left">{% get_site_text 'order_form' %}</h1>
            <p class="subhead-no-offset">{% get_site_text 'order_form_sub_h' %}</p>
        </div>
        <div class="col-2"><img class="catalogue-image" src="{% static "frontend/img/quotation_group.png" %}"
                                alt="Quotations logo"/></div>
        <div class="col-1"></div>
    </div>
{% endblock header %}

{% block body %}
    {% include "elements/order_form.html" %}
{% endblock body %}

<!-- Mobile -->
{% block header-mobile %}
    <div class="row catalogue-header-mobile">
        <div class="col-1"></div>
        <div class="col-10">
            <img class="catalogue-image-mobile img-fluid" src="{% static "frontend/img/quotation_group.png" %}"
                 alt="Build your quote image"/>
            <h1>{% get_site_text 'order_form' %}</h1>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock header-mobile %}

{% block body-mobile %}
    {% include "elements/order_form.html" %}
{% endblock body-mobile %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock js %}

