{% load static %}
<div class="card collective-card package-card no-margin-top">
    <div class="card-body">
        <img class="img-fluid package-card-image" src="

                {% if package.image %}{{ package.image.url }}{% else %}{% static "frontend/img/logo.svg" %}{% endif %}"
             alt="{{ package.name }} icon."/>
        <ul class="list-unstyled package-card-list">
            <li><i class="fa fa-building"></i>
                {% if initiative.website %}
                    <a href="{{ initiative.website }}" target="_blank">{% endif %}{{ package.initiative.name }}
                {% if initiative.website %}</a>{% endif %}
            </li>
            <li><i class="fa fa-calendar-alt"></i> {{ package.display_contract_length_months }} month
                contract
            </li>
            <li><i class="fa fa-edit"></i> {% if package.pre_calc %}{{ package.pre_calc }}{% else %}{{ package.pricing_display }}{% endif %}</li>
            {% if package.meta_packages %}
                <li>
                    <i class="fa fa-box"> </i> Included in
                    {% for mp in package.meta_packages %}{{ mp.name }}{% if not forloop.last %},
                    {% endif %}{% endfor %}
                </li>
            {% endif %}
            {% if request.site.enable_signup and request.site.enable_individual_package_signup %}
                <div class="dropdown">
                    <button class="btn btn-primary btn-obc-blue btn-package dropdown-toggle"
                            type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% get_site_text "add_to_quote" %} <span class="fa fa-plus"></span>
                    </button>
                    <div class="dropdown-menu package-dropdown" aria-labelledby="dropdownMenuButton">
                        {% if request.site.enable_meta_package_signup %}
                            {% for mp in package.meta_packages %}
                                <a class="package-dropdown-item"
                                   href="{% url 'manage_basket_meta_package' mp.pk %}">{{ mp.name }}</a><br/>
                            {% endfor %}
                        {% endif %}
                        {% if not package.meta_only %}
                            <a class="package-dropdown-item" href="{% url 'manage_basket_package' package.pk %}">{% get_site_text 'initiative_only' %}</a>
                        {% endif %}

                    </div>
                </div>
            {% else %}
                <br/><br/>
                Initiative package signup is disabled.
            {% endif %}
        </ul>

    </div>
</div>