{% extends "base/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Site Index</h1>
        <p class="lead">This is a temporary site index to help show you around Intrepid as a work in progress. <br/>Most pages have basic styling in anticipation of design work .</p>

        <p>The following areas are accessible and fairly stable:</p>
        <ul>
            <li>
                <a href="{% url 'dashboard_index' %}">Library Dashboard</a>
            </li>
            <li>
                <a href="{% url 'two_factor:login' %}">Login (inc. Authenticator based 2FA)</a>
            </li>
            <li>
                <a href="{% url 'initiative_user_initiatives' %}">Initiatives</a>
            </li>
            <li>
                <a href="{% url 'page_list' initiative.pk 'page' %}">{{ initiative.name }} CMS</a>
            </li>
            <li>
                <a href="{% url 'all_books' %}">Thoth All Books</a>
            </li>
            <li>
                <a href="{% url 'books_initiative' initiative.pk %}">Thoth Books for {{ initiative.name }}</a>
            </li>
            <li>
                <a href="{% url 'book' 508 %}">Literature Against Criticism: University English and Contemporary Fiction in Conflict</a>
            </li>
            <li>
                <a href="{% url 'advanced_search' %}">Thoth Advanced Search</a>
            </li>
        </ul>
        <p>The following areas are unstable:</p>
        <ul>
            <li>
                <a href="{% url 'package_list' %}">Packages</a>
            </li>
            <li>
                <a href="{% url 'basket_list' %}">Baskets</a>
            </li>
            <li>
                <a href="{% url 'initiative_packages' initiative.pk %}">Initiative Package Management</a>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}