{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% get_site_text 'open_book_collective' %}{% endblock title %}</title>
    {% include "base/frontend/header.html" %}
    {% block css %}
    {% endblock css %}
    <link rel="icon" type="image/ico" href="{% static "img/favicon.ico" %}"/>
</head>

    <div class="container nav-container">
        {% include "base/frontend/nav.html" with additional_nav=additional_nav %}
    </div>

    <!-- desktop content -->
    <div class="container blue-header d-none d-md-block">
        {% block header %}
        {% endblock %}
    </div>


    <div class="container d-none d-md-block grey-border grey-background">
        <div class="row">
            <div class="col-12 offset-content grey-background">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible message-alert" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="{% get_site_text 'close' %}">
                            <span aria-hidden="True">&times;</span>
                        </button>
                        {{ message }}
                    </div>
            {% endfor %}
                {% block body %}
                {% endblock body %}
            </div>
        </div>
    </div>


    <!-- mobile content -->
    <div class="container blue-header-mobile d-sm-block d-xs-block d-md-none">
        {% block header-mobile %}
        {% endblock %}
    </div>
    <div class="container d-sm-block d-xs-block d-md-none grey-border">
        {% block body-mobile %}
        {% endblock body-mobile %}
    </div>

    {% block after_body %}
    {% endblock after_body %}



    {% include "base/frontend/footer.html" %}
    {% block js %}
    {% endblock js %}
</body>
</html>
