<li {% if 'values' in request.path %}class="active"{% endif %}><a href="{% url 'fixed_page' 'values' %}">{% get_site_text 'what_we_stand_for' %}</a></li>
<li {% if 'who' in request.path %}class="active"{% endif %}><a href="{% url 'who_we_are' %}">{% get_site_text 'who_we_are' %}</a></li>
<li {% if 'why' in request.path %}class="active"{% endif %}><a href="{% url 'fixed_page' 'why_support_oa' %}">{% get_site_text 'membership' %}</a></li>
<li {% if 'governance' in request.path %}class="active"{% endif %}><a href="{% url 'fixed_page' 'governance' %}">{% get_site_text 'governance' %}</a></li>
<li><a href="https://openbookcollective.pubpub.org/documents" target="_blank">{% get_site_text 'documents' %}</a></li>
<li {% if 'news' in request.path %}class="active"{% endif %}><a href="https://openbookcollective.pubpub.org/news">{% get_site_text 'news' %}</a></li>
<li {% if 'what' in request.path %}class="active"{% endif %}><a href="{% url 'fixed_page' 'what_we_do' %}">{% get_site_text 'how_it_works' %}</a></li>
<li {% if 'funding' in request.path %}class="active"{% endif %}><a href="{% url 'fixed_page' 'funding_model' %}">{% get_site_text 'funding_and_fees' %}</a></li>
<li {% if 'supporters' in request.path %}class="active"{% endif %}><a href="https://www.openbookcollective.org/cms/fixed_page/supporters/">{% get_site_text 'supporters' %}</a></li>