{% load static %}

<div class="footer-mobile container-fluid d-sm-block d-xs-block d-md-none">
    <div class="footer-mobile">
        <div class="row">
            <div class="col">
                <img class="footer-logo-mobile" src="{% static "frontend/img/footer_logo.png" %}" alt="{% get_site_text 'open_book_collective' %}">
            </div>
        </div>

        <div class="row footer-menu-section-mobile">
            <div class="col">
                <h2>OBC</h2>
                <ul class="footer-menu-mobile">
                    <li class="footer-menu-item-mobile"><a href="{% url 'fixed_page' 'values' %}">{% get_site_text 'what_we_stand_for' %}</a></li>
                    <li class="footer-menu-item-mobile"><a href="{% url 'who_we_are' %}">{% get_site_text 'who_we_are' %}</a></li>
                    <li class="footer-menu-item-mobile"><a href="{% url 'fixed_page' 'why_support_oa' %}">{% get_site_text 'membership' %}</a></li>
                    <li class="footer-menu-item-mobile"><a href="{% url 'fixed_page' 'governance' %}">{% get_site_text 'governance' %}</a></li>
                    <li class="footer-menu-item-mobile"><a href="https://openbookcollective.pubpub.org/documents">{% get_site_text 'documents' %}</a></li>
                    <li class="footer-menu-item-mobile"><a href="https://openbookcollective.pubpub.org/news">{% get_site_text 'news' %}</a></li>
                </ul>
            </div>

            <div class="col">
                <h2>{% get_site_text 'platform' %}</h2>
                <ul class="footer-menu-mobile">
                    <li class="footer-menu-item-mobile"><a href="{% url 'fixed_page' 'what_we_do' %}">{% get_site_text 'how_it_works' %}</a></li>
                    <li class="footer-menu-item-mobile"><a href="{% url 'fixed_page' 'supporters' %}">{% get_site_text 'supporters' %}</a></li>
                    <li class="footer-menu-item-mobile"><a href="{% url 'package_list' %}">{% get_site_text 'packages' %}</a></li>
                    <li class="footer-menu-item-mobile"><a href="{% url 'initiative_list' %}">{% get_site_text 'initiatives' %}</a></li>
                    <li class="footer-menu-item-mobile"><a href="{% url "all_books" %}">{% get_site_text 'catalogue' %}</a></li>
                    <li class="footer-menu-item-mobile"><a href="{% url 'fixed_page' 'funding_model' %}">{% get_site_text 'funding_and_fees' %}</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-menu-section-mobile">
            <div class="col">
                <h2>{% get_site_text 'contact' %}</h2>
                <ul class="footer-menu-mobile">
                    <li class="footer-menu-item-mobile"><i class="fa-brands fa-twitter"></i> <a href="https://twitter.com/OpenBookCollect">{% get_site_text 'twitter' %}</a></li>
                    <li class="footer-menu-item-mobile"><i class="fa-brands fa-mastodon"></i> <a href="https://mastodon.social/@openbookcollect">{% get_site_text 'mastodon' %}</a></li>
                    <li class="footer-menu-item-mobile"><i class="fa-solid fa-at"></i> <a href="mailto:info@openbookcollective.org">{% get_site_text 'email_contact' %}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row rock-bottom-mobile">
        <div class="col">{{ request.site.base_copyright_notice|safe }}.
        </div>
    </div>

</div>

<div class="container footer d-none d-md-block">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-1"><img class="footer-logo" src="{% static "frontend/img/footer_logo.png" %}" alt="{% get_site_text 'open_book_collective' %}"></div>
        <div class="col-2"></div>
        <div class="col-7">
            <div class="row">
                <div class="col-4">
                    <h2>{% get_site_text 'open_book_collective_abbreviation' %}</h2>
                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="{% url 'fixed_page' 'values' %}">{% get_site_text 'what_we_stand_for' %}</a></li>
                        <li class="footer-menu-item"><a href="{% url 'who_we_are' %}">{% get_site_text 'who_we_are' %}</a></li>
                        <li class="footer-menu-item"><a href="{% url 'fixed_page' 'why_support_oa' %}">{% get_site_text 'membership' %}</a></li>
                        <li class="footer-menu-item"><a href="{% url 'fixed_page' 'governance' %}">{% get_site_text 'governance' %}</a></li>
                        <li class="footer-menu-item"><a href="https://openbookcollective.pubpub.org/documents">{% get_site_text 'documents' %}</a></li>
                        <li class="footer-menu-item"><a href="https://openbookcollective.pubpub.org/news">{% get_site_text 'news' %}</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <h2><a href="{% url 'who_we_are' %}">{% get_site_text 'platform' %}</a></h2>
                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="{% url 'fixed_page' 'what_we_do' %}">{% get_site_text 'how_it_works' %}</a></li>
                        <li class="footer-menu-item"><a href="{% url 'fixed_page' 'supporters' %}">{% get_site_text 'supporters' %}</a></li>
                        <li class="footer-menu-item"><a href="{% url 'package_list' %}">{% get_site_text 'packages' %}</a></li>
                        <li class="footer-menu-item"><a href="{% url 'initiative_list' %}">{% get_site_text 'initiatives' %}</a></li>
                        <li class="footer-menu-item"><a href="{% url "all_books" %}">{% get_site_text 'catalogue' %}</a></li>
                        <li class="footer-menu-item"><a href="{% url 'fixed_page' 'funding_model' %}">{% get_site_text 'funding_and_fees' %}</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <h2>{% get_site_text 'contact' %}</h2>
                    <ul class="footer-menu">
                        <li class="footer-menu-item"><i class="fa-brands fa-twitter"></i> <a href="https://twitter.com/OpenBookCollect">{% get_site_text 'twitter' %}</a></li>
                        <li class="footer-menu-item"><i class="fa-brands fa-mastodon"></i> <a href="https://mastodon.social/@openbookcollect">{% get_site_text 'mastodon' %}</a></li>
                        <li class="footer-menu-item"><i class="fa-solid fa-at"></i> <a href="mailto:info@openbookcollective.org">{% get_site_text 'email_contact' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row rock-bottom">
        <div class="col-2"></div>
        <div class="col-10"><a href="{% url 'fixed_page' 'terms' %}">{% get_site_text 'terms_of_use' %}</a> | <a href="{% url 'fixed_page' 'privacy' %}">{% get_site_text 'privacy_policy' %}</a> | <a href="{% url 'fixed_page' 'accessibility' %}">{% get_site_text 'accessibility' %}</a> | {{ request.site.base_copyright_notice|safe }}
        </div>
    </div>
</div>