{% load static %}
<div class="row">
    <div class="col-3">
        <a class="navbar-logo d-none d-md-block" href="{% url "site_index" %}"><img class="img-fluid"
                src="{% static 'frontend/img/logo.svg' %}" alt="{% get_site_text 'open_book_collective' prefetched %}"/></a>
        <!-- upper navigation row -->
    </div>
    <div class="col-9">
        <nav class="navbar-inverse nav-upper d-none d-md-block">
            <div class="container-fluid">
                <ul class="flex-md-row nav navbar-upper">
                    {% if request.basket %}<li><a href="{% url 'basket_detail' request.basket.pk %}"><i class="fa fa-shopping-basket" style="color:black"></i><sup>{{ request.basket_count }}</sup></a></li>{% endif %}
                    <li><a href="{% url 'dashboard_index' %}"><i class="fa-solid fa-circle-user"></i> {% get_site_text 'dashboard' prefetched %}</a>
                    </li>
                    {% if request.site.enable_your_quotes_link %}
                    <li><a href="{% url 'basket_list' %}"><i class="fa-solid fa-square-check"></i> {% get_site_text 'your_quotes' prefetched %}</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </nav>

        <!-- lower navigation row -->
        <nav class="navbar-inverse nav-lower d-none d-md-block">
            <div class="container-fluid">
                <ul class="nav navbar-lower">
                    <li class="lower-nav-item"><a href="{% url 'fixed_page' 'values' %}">{% get_site_text 'what_we_stand_for' prefetched %}</a>
                    </li>
                    <li class="lower-nav-item"><a href="{% url "all_books" %}">{% get_site_text 'catalogue' prefetched %}</a>
                    </li>
                    <li class="lower-nav-item"><a href="{% url 'package_list' %}">{% get_site_text_no_edit 'oa_inits_header' prefetched %}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


<!-- responsive version -->
<a class="navbar-logo-responsive d-sm-block d-xs-block d-md-none" href="#"><img src="{% static 'frontend/img/logo.svg' %}"
                                                                                alt="{% get_site_text 'open_book_collective' prefetched %}" /></a>
<nav class="navbar navbar-expand-lg navbar-light bg-light d-sm-block d-xs-block d-md-none">
  <a class="navbar-brand" href="{% url "site_index" %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
        <div class="row menu-image">
            <div class="col">
                <a href="{% url "site_index" %}"><img class="mobile-menu-image" src="{% static 'frontend/img/footer_logo.png' %}" alt="{% get_site_text 'open_book_collective' prefetched %}"></a>
            </div>
        </div>
        <hr id="first-divider" />
        <ul>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'who_we_are' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% get_site_text 'what_we_stand_for' prefetched %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'fixed_page' 'values' %}"><span class="in-caret">&gt;</span> {% get_site_text 'what_we_stand_for' prefetched %}</a>
                <a class="dropdown-item" href="{% url 'who_we_are' %}"><span class="in-caret">&gt;</span> {% get_site_text 'who_we_are' prefetched %}</a>
                <a class="dropdown-item" href="{% url 'fixed_page' 'why_support_oa' %}"><span class="in-caret">&gt;</span> {% get_site_text 'membership' prefetched %}</a>
                <a class="dropdown-item" href="{% url 'fixed_page' 'governance' %}"><span class="in-caret">&gt;</span> {% get_site_text 'governance' prefetched %}</a>
                <a class="dropdown-item" href="https://openbookcollective.pubpub.org/documents" target="_blank"><span class="in-caret">&gt;</span> {% get_site_text 'documents' prefetched %}</a>
                <a class="dropdown-item" href="https://openbookcollective.pubpub.org/news"><span class="in-caret">&gt;</span> {% get_site_text 'news' prefetched %}</a>
                <a class="dropdown-item" href="{% url 'fixed_page' 'what_we_do' %}"><span class="in-caret">&gt;</span> {% get_site_text 'how_it_works' prefetched %}</a>
                <a class="dropdown-item" href="{% url 'fixed_page' 'funding_model' %}"><span class="in-caret">&gt;</span> {% get_site_text 'funding_and_fees' prefetched %}</a>
                <a class="dropdown-item" href="https://www.openbookcollective.org/cms/fixed_page/supporters/"><span class="in-caret">&gt;</span> {% get_site_text 'supporters' prefetched %}</a>
            </div>
        </li>

        <hr/>

        {% if initiative %}
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" id="initDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    {{ initiative.name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="initDropdown">
                    <a class="dropdown-item"
                       href="{% url 'summary_package_initiative' 'initiative' initiative.pk %}"><span
                                class="in-caret">&gt;</span> {% get_site_text 'summary' prefetched %}</a>
                    <a class="dropdown-item"
                       href="{% url 'summary_more_info' 'initiative' initiative.pk %}"><span
                                class="in-caret">&gt;</span> {% get_site_text 'more' prefetched %}
                        Info</a>
                    <a class="dropdown-item"
                       href="{% url 'summary_pricing' 'initiative' initiative.pk %}"><span
                                class="in-caret">&gt;</span> {% get_site_text 'pricing' prefetched %}</a>
                    {% for page in additional_nav %}
                        <a class="dropdown-item"
                           href="{% url 'public_initiative_page' initiative.pk page.pk %}"><span
                                class="in-caret">&gt;</span>
                            {{ page.title }}</a>
                    {% endfor %}
                </div>
            </li>

            <hr/>
        {% endif %}


        <li class="nav-item">
            <a class="nav-link" href="{% url "all_books" %}">{% get_site_text 'catalogue' prefetched %}</a>
        </li>

        <hr/>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'package_list' %}">{% get_site_text_no_edit 'oa_inits_header' prefetched %}</a>
        </li>

        <hr/>

        <li class="nav-item">
            <a class="nav-link nav-small" href="{% url 'dashboard_index' %}"><i class="fa-solid fa-circle-user"></i> {% get_site_text 'dashboard' prefetched %}</a>
        </li>

        <hr/>
        {% if request.site.enable_your_quotes_link %}
        <li class="nav-item">
            <a class="nav-link nav-small" href="{% url 'basket_list' %}"><i class="fa-solid fa-square-check"></i> {% get_site_text 'your_quotes' prefetched %}</a>
        </li>
        {% endif %}

        <hr/>
    </ul>
  </div>
</nav>