{% extends "base/admin_base.html" %}

{% block title %}
{% get_site_text 'initiatives' %}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">{% get_site_text 'manager' %}</li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'initiative_list' %}">{% get_site_text 'initiatives' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ initiative.name }}</li>
{% endblock breadcrumb %}

{% block content %}
<section class="content">
      <div class="container-fluid">
        <h1>{% get_site_text 'initiative_details' %}</h1>
        <p class="lead">{% get_site_text 'expanded_initiative' %}</p>

        <section class="basic-information">
            <h2>{% get_site_text 'basic_information' %}</h2>
            <p class="fw-light detail-header">{% get_site_text 'name' %}:</p>
            <p>{{ initiative.name }}</p>

            <p class="fw-light detail-header">{% get_site_text 'description' %}:</p>
            {{ initiative.description|safe }}

            <h2>{% get_site_text 'accounts' %}</h2>
            <p class="fw-light">
                {% get_site_text 'accounts_helper' %}
            </p>
            <table class="table">
                <tr>
                    <th>{% get_site_text 'name' %}</th>
                    <th>{% get_site_text 'email' %}</th>
                    <th>{% get_site_text 'username' %}</th>
                    <th></th>
                </tr>
                {% for account in initiative.users.all %}
                <tr>
                    <td>{{ account.profile.full_name }}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.username }}</td>
                    <td><button class="btn btn-danger btn-sm">{% get_site_text 'unlink' %}</button></td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>
</section>
{% endblock content %}