{% extends "base/admin_base.html" %}

{% block title %}
{% get_site_text 'initiatives' %}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">{% get_site_text 'manager' %}</li>
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'initiatives' %}</li>
{% endblock breadcrumb %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <h1>{% get_site_text 'initiative_list' %}</h1>
        <p class="lead">{% get_site_text 'initiative_list_helper' %}</p>

        <table class="table" id="initiatives">
            <thead>
                <tr>
                    <th>{% get_site_text 'name' %}</th>
                    <th>{% get_site_text 'accounts' %}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for initiative in initiatives %}
                <tr>
                    <td>{{ initiative.name }}</td>
                    <td>{% for account in initiative.users.all %}{{ account.profile.full_name}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    <td><a href="{% url 'initiative_detail' initiative.pk %}" class="btn btn-primary">{% get_site_text 'view' %}</a></td>
                    <td><a href="" class="btn btn-danger">{% get_site_text 'delete' %}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </section>
{% endblock content %}

{% block js %}
{% include "elements/datatables.js.html" with target='initiatives' %}
{% endblock js %}