{% extends "base/admin_base.html" %}

{% block title %}
{% get_site_text 'initiatives' %}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'initiatives' %}</li>
{% endblock breadcrumb %}

{% block dashboard_js %}
    {% include "elements/datatables.js.html" with target='initiatives' %}
{% endblock %}

{% block content %}
    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="my_initiatives">&nbsp;</span>

    <section class="content">
      <div class="container-fluid">
            <h1>{% get_site_text 'initiative_list' %}</h1>
            <p class="lead">{% if request.user.is_staff %}{% get_site_text 'initiatives_staff' %}{% else %}{% get_site_text 'initiatives_manager' %}{% endif %}</p>

            <table class="table table-striped" id="initiatives">
                <thead>
                    <tr>
                        <th>{% get_site_text 'name' %}</th>
                        <th>{% get_site_text 'managers' %}</th>
                        <th>{% get_site_text 'active' %}</th>
                        <!--<th># of Packages</th>-->
                        <th>{% get_site_text 'add' %}</th>
                        <th>{% get_site_text 'view' %}</th>
                        <th>{% get_site_text 'featured_books' %}</th>
                        <th>{% get_site_text 'orders' %}</th>
                        <th>{% get_site_text 'invoicing' %}</th>
                        <th>{% get_site_text 'pages' %}</th>
                        <th>{% get_site_text 'updates' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for initiative in users_initiatives %}
                    <tr>
                        <td><a href="{% url 'initiative_edit' initiative.pk %}">{{ initiative.name }}</a></td>
                        <td>{% for account in initiative.users.all %}{{ account.profile.full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        <td>{{ initiative.active_display }}</td>

                        <td><a href="{% url 'start_package' initiative.pk %}">{% get_site_text 'add' %}</a></td>
                        <td><a href="{% url 'initiative_packages' initiative.pk %}">{% get_site_text 'view' %}</a></td>
                        <td><a href="{% url 'featured_books' initiative.pk %}">{% get_site_text 'featured_books' %}</a></td>
                        <td><a href="{% url 'initiative_order_list' initiative.pk %}">{% get_site_text 'orders' %}</a></td>
                        <td><a href="{% url 'list_order_invoices_initiative' initiative.pk %}">{% get_site_text 'invoicing' %}</a></td>
                        <td><a href="{% url 'page_list' initiative.pk 'page' %}">{% get_site_text 'pages' %}</a></td>
                        <td><a href="{% url 'page_list' initiative.pk 'update' %}">{% get_site_text 'updates' %}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
      </div>
    </section>
{% endblock content %}

{% block js %}
{% include "elements/datatables.js.html" with target='initiatives' %}
{% endblock js %}