{% extends "base/frontend/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>{% get_site_text 'login' %}</h1>
                <p>{% get_site_text 'username_email_info' %}</p>
                {% if form.errors %}
                <p>{% get_site_text 'login_error' %}</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                    <p>{% get_site_text 'no_access_info' %}</p>
                    {% else %}
                    <p>{% get_site_text 'login_to_see_page' %}</p>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'two_factor:login' %}">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="d-grid gap-2">
                    <button value="Login" class="btn btn-primary">{% get_site_text 'login' %}</button>
                    <a href="{% url 'password_reset' %}" class="btn btn-secondary">{% get_site_text 'reset_password' %}</a>
                </div>
                </form>
            </div>
        </div>
      </div>
    </section>
{% endblock content %}
