{% extends "base/frontend/base.html" %}
{% load i18n two_factor static %}

{% block js %}
    <script src="{% static "frontend/js/configure_login.js" %}"></script>
{% endblock js %}

{% block body %}
    <div class="container-fluid main d-none d-md-block white-background grey-border">
        <div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8 login-row-header">
                            <div class="row">
                                <div class="col-4"><img src="{% static "frontend/img/login_padlock.svg" %}" alt="Login" class="img-fluid login-padlock"/></div>
                                <div class="col-8 login-header">
                                    <h1>{% block title %}{% trans "Reset your password" %}{% endblock %}</h1>
                                </div>
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>
                            <div class="col-8 login-row">
                                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                                <form method="post">
                                    {% csrf_token %}
                                    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">

                                    {{ form.new_password1.errors }}
                                    {{ form.new_password2.errors }}
                                    <label for="id_new_password1">{% translate 'New password:' %}</label>
                                    {{ form.new_password1 }}

                                    <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                                    {{ form.new_password2 }}
                                    <input class="submit_button" type="submit" value="{% translate 'Change my password' %}"></input>
                                </form>
                            </div>

                        <div class="col-2"></div>
                    </div>

                    <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8 login-row-bottom"></div>
                            <div class="col-2"></div>
                    </div>

                    <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8 signup">Not a member yet? <a class="create-account" href="{% url 'register' %}">Create an account</a></div>
                            <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block body-mobile %}
     <div class="row login-row-header-mobile">
        <div class="col-4"><img src="{% static "frontend/img/login_padlock.svg" %}" alt="Login" class="img-fluid login-padlock"/></div>
        <div class="col-8 login-header">
            <h1>{% trans "Reset password" %}</h1>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row login-row reset-info">
        <div class="col">
           <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                <form method="post">
                    {% csrf_token %}
                    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">

                    {{ form.new_password1.errors }}
                    {{ form.new_password2.errors }}
                    <label for="id_new_password1">{% translate 'New password:' %}</label>
                    {{ form.new_password1 }}

                    <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                    {{ form.new_password2 }}
                    <input class="submit_button" type="submit" value="{% translate 'Change' %}"></input>
                </form>
        </div>
    </div>

    <div class="row login-row-bottom-mobile">
        <div class="col">
            <p class="not-member-mobile">Not a member yet?</p>
            <p><a class="create-account-mobile" href="{% url 'register' %}">Create an account</a></p>
        </div>
    </div>
{% endblock body-mobile %}

