{% extends "base/base.html" %}
{% load static %}

{% block title %}
Books
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'all_books' %}">Books</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ publisher.publisher_name }}</li>
{% endblock breadcrumb %}

{% block content %}
<h1>Books from {{ publisher.publisher_name }}</h1>
<section class="basic-information">

    <div class="book_list">
    {% for work in works %}
        <div class="book">
            <p>
                <a href="{% url 'book' work.pk %}">
                    {% if  work.cover_url %}
                        <img style="width:100px; max-height:150px;" src="{{ work.cover_url }}" alt="{{ work }}"/>
                    {% else %}
                        <img style="width:100px; max-height:150px;" src="{% static 'img/cover-placeholder.jpg' %}" alt="{{ work }}"/>
                    {% endif %}
                </a>
            </p>
        </div>
    {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if works.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ works.number }} of {{ works.paginator.num_pages }}.
            </span>

            {% if works.has_next %}
                <a href="?page={{ works.next_page_number }}">next</a>
                <a href="?page={{ works.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</section>
{% endblock content %}