{% extends "base/admin_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {% get_site_text 'featured_books' %}
{% endblock title %}

{% block page-title %}
    {% get_site_text 'featured_books' %}
{% endblock page-title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">{% get_site_text 'featured_books' %}</a></li>
{% endblock %}

{% block content %}
    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="my_initiatives">&nbsp;</span>

    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col">
                    <p>{% get_site_text 'featured_books_page_description' %} <a href="{% url 'all_books' %}">{% get_site_text 'find_the_book' %}</a> {% get_site_text 'featured_books_page_instruction' %}</p>
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" id="thoth_id" name="thoth_id" class="form-control" placeholder="{% get_site_text 'thoth_import_id_placeholder' %}">
                        <input type="submit" class="btn btn-success" value="{% get_site_text 'save_to_initiative' %}">
                    </form>
                </div>
            </div>

        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
