{% extends "base/admin_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {% get_site_text 'thoth_sync' %}
{% endblock title %}

{% block page-title %}
    {% get_site_text 'thoth_sync' %}
{% endblock page-title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">{% get_site_text 'thoth_sync' %}</a></li>
{% endblock %}

{% block content %}
    <!-- this span expands the platform manager tab -->
    <span id="expand_platform_manager">&nbsp;</span>

    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="thoth_sync">&nbsp;</span>

    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <p>{% get_site_text 'syncing_process_description' %}</p>

                    <ol>
                        <li>{% get_site_text 'run_test_import' %}</li>
                        <li>{% get_site_text 'run_full_import' %}</li>
                        <li>{% get_site_text 'notify_users' %}</li>
                    </ol>
                    <p>
                        {% if test %}<input type="submit" value="{% get_site_text 'run_test' %}" name="test"/>{% endif %}
                        {%  if not test %}<input type="submit" value="{% get_site_text 'run_import' %}" name="import"/>{% endif %}
                    </p>
                    <p>
                        <input type="submit" value="{% get_site_text 'notify_users_button' %}" name="notify"/>
                    </p>
                </div>
            </div>

            {% if result %}
            <div class="row">
                <div class="col">
                    <p>{% get_site_text 'test_results' %}</p>
                    <textarea style="width:100%; height:500px">{{ result }}</textarea>
                </div>
            </div>
            {% endif %}

            {% if request.site.last_thoth_log %}
                <div class="row">
                    <div class="col">
                        <p>{% get_site_text 'last_real_thoth_import' %} ({{ request.site.last_thoth_log_date }})</p>
                        <textarea style="width:100%; height:500px">{{ request.site.last_thoth_log }}</textarea>
                    </div>
                </div>
            {% endif %}
        </form>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
