{% extends "base/admin_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {% get_site_text 'saved_searches' %}
{% endblock title %}

{% block page-title %}
    {% get_site_text 'saved_searches' %}
{% endblock page-title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">{% get_site_text 'saved_searches' %}</a></li>
{% endblock %}

{% block content %}
    <!-- this span expands the platform manager tab -->
    <span id="expand_platform_manager">&nbsp;</span>

    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="saved_searches">&nbsp;</span>

    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col">
                    <p>{% get_site_text 'saved_searches_description' %}</p>
                        {% csrf_token %}
                        <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>{% get_site_text 'search_name' %}</th>
                                        <th>{% get_site_text 'terms' %}</th>
                                        <th>{% get_site_text 'email_updates' %}</th>
                                        <th>{% get_site_text 'run_search' %}</th>
                                        <th>{% get_site_text 'delete' %}</th>
                                    </tr>
                                </thead>
                            {% for search in searches %}
                                <tbody>
                                    <tr>
                                        <td style="width:33%">{{ search.display_name }}</td>
                                        <td>{% for item in search.thothsearchelement_set.all %}{% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{item}}{% endfor %}</td>
                                        <td><form method="POST" action="{% url 'toggle_search_email' search.pk %}">{% csrf_token %} {% if not search.email_on_new %}<input type="submit" class="btn btn-warning" name="toggle_email" value="{% get_site_text 'subscribe_email_updates' %}"/>{% else %}<input type="submit" class="btn btn-warning" name="toggle_email" value="{% get_site_text 'unsubscribe_email_updates' %}"/>{% endif %}</form></td>
                                        <td><form method="POST" action="{% url 'run_search' search.pk %}">{% csrf_token %} <input type="submit" class="btn btn-success" name="activate" value="{% get_site_text 'run_this_search' %}"/></form></td>
                                        <td><form method="POST" action="{% url 'delete_search' search.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="{% get_site_text 'delete_this_search' %}"/></form></td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                        <input type="submit" class="btn btn-success" value="Save to Profile">
                </div>
            </div>

      <div class="row" style="margin-top: 50px;">
          <div class="col">
              <h2>{% get_site_text 'thoth_feed' %}</h2>
              <p>{% get_site_text 'thoth_feed_description' %}</p>
              <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{% get_site_text 'authors' %}</th>
                            <th>{% get_site_text 'book_name' %}</th>
                            <th>{% get_site_text 'publisher' %}</th>
                            <th>{% get_site_text 'date' %}</th>
                            <th>{% get_site_text 'view' %}</th>
                        </tr>
                    </thead>
                {% for work in works %}
                    <tbody>
                        <tr>
                            <td style="width:33%">{% for contribution in work.contribution_set.all %}<span class="authors-mobile">{% if forloop.first %}{{ contribution.contributor }}{% if contribution.institution %} ({{ contribution.institution }}){% endif %}{% endif %}{% if not forloop.first %}{% if forloop.last %}, and {{ contribution.contributor }}{% if contribution.institution %} ({{ contribution.institution }}){% endif %}{% else %}, {{ contribution.contributor }}{% if contribution.institution %} ({{ contribution.institution }}){% endif %}{% endif %}{% endif %}</span>{% endfor %}</td>
                            <td>{{ work.full_title }}</td>
                            <td>{{ work.publisher }}</td>
                            <td>{{ work.published_date }}</td>
                            <td><a href="{% url 'book' work.pk %}">{% get_site_text 'catalogue_record' %}</a></td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
          </div>
      </div>

      {% if institutional_updates %}
       <div class="row" style="margin-top: 50px;">
          <div class="col">
              <h2>{% get_site_text 'institutional_updates' %}</h2>
              <p>{% get_site_text 'institutional_updates_description' %} <a href="{% url 'edit_profile' %}">{% get_site_text 'your_profile' %}</a>.</p>
              <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{% get_site_text 'update' %}</th>
                            <th>{% get_site_text 'initiative' %}</th>
                            <th>{% get_site_text 'date' %}</th>
                            <th>{% get_site_text 'view' %}</th>
                        </tr>
                    </thead>
                {% for page in institutional_updates %}
                    <tbody>
                        <tr>
                            <td style="width:33%">{{ page.title }}</td>
                            <td>{{ page.initiative }}</td>
                            <td>{{ page.created|date:"M d, Y" }}</td>
                            <td><a href="{% url 'news_item' page.pk %}">{% get_site_text 'view_update' %}</a></td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
          </div>
      </div>
      {% endif %}

        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
