{% load static %}
<div class="row catalogue-main catalogue-main-mobile">
    <div class="col">
        <div class="pill-row">
            {% include "summary/buttons.html" with active="pricing" %}
        </div>
    </div>
</div>
<div class="row catalogue-main catalogue-main-mobile">
    <div class="col">
        <div class="larger-package-styled-text">
            {{ package.description|safe }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        {% include "summary/sidebar.html" %}
    </div>
</div>