{% load static %}
<div class="row catalogue-main catalogue-main-mobile">
    <div class="col">
        <div class="pill-row">
            {% include "summary/buttons.html" with active="summary" %}
        </div>
    </div>
</div>
<div class="row catalogue-main catalogue-main-mobile">
    <div class="col">
        <div class="larger-package-styled-text">
            {{ initiative.description|safe }}
        </div>
        {% if request.site.enable_standards %}
            <h3 class="text-left">{% get_site_text 'standards' %}</h3>
            {% get_site_text 'standards_info' %}
            <ul>
                {% for standard in package.standards %}
                    <li><a target="_blank"
                           href="{{ standard.details_url }}">{{ standard.standard.standard_name }}</a></li>
                    {% empty %}
                    <li>{% get_site_text 'no_standards' %}</li>
                {% endfor %}
                {% if package.attestationhistory_set.all %}
                    <li><a href="#" data-toggle="modal" data-target="#history_modal">{% get_site_text 'view_attestation_history' %}</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        {% include "summary/sidebar.html" %}
    </div>
</div>
