{% load country crispy_forms_tags %}
<div class="modal fade" id="country_change_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">Change current country</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: white;">
          {% country_code_to_name as country_name %}
          <p>We have detected your current country as: {{ country_name|title }}.</p>
          <form method="POST" action="{% url 'change_session_country' %}">
              {% csrf_token %}
              {{ country_form|crispy }}
              <input type="hidden" name="next" value="{{ request.path }}">
              <button type="submit" class="btn btn-primary">Update Country</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>