<link crossorigin="anonymous" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#{{target}}').DataTable( {
        select: true,
        stateSave: true,
        pageLength: {% if page_length %}{{page_length}}{% else %}25{% endif %},
         {% if sort and order %}order: [[ {{ sort }}, "{{ order }}" ]],{% endif %}
    } );
} );

</script>