{% load crispy_forms_tags cost_calculator %}

<div class="row catalogue-main spacer-top-20">
    <div class="col-1"></div>
    <div class="col">
        <p class="lead">{% get_site_text 'your_reference_number_is' %} {{ order.pk }}. {% get_site_text 'please_quote_it' %}</p>

        <h2 class="text-left" style="margin-top: 0;">{% get_site_text 'order_form_details_h' %}</h2>
        {% get_site_text 'order_form_details' %}
        <div class="card form-card">
            <div class="card-body">
                {% crispy form form.helper %}
            </div>
        </div>

        <h2 class="text-left" style="margin-top: 0;">{% get_site_text 'order_form_packages' %}</h2>

        <p class="package-styled-text">{% get_site_text 'order_form_pack_text' %} </p>
        <ul class="list-unstyled">
            {% for package in order.package_set %}
                <li class="package-styled-text">{{ package.name }}</li>
            {% endfor %}
        </ul>
        <div class="package-styled-text">
            {% get_site_text 'based_on_term' %}<br/>
            
            {% get_site_text "about_term_length" %}

            <p>
                {% get_site_text "order_amount" %} {{ order_amount }}<br />
                {% get_site_text "platform_fee" %} {{ platform_fee }}<br />
                {% get_site_text "term_length" %} {% widthratio multiplier 1 12 %} {% get_site_text "months" %}<br />
                <strong>{% get_site_text "total_term_length" %} {{ total }}</strong>
            </p>

            {% get_site_text 'order_form_footer' %}
        </div>
    </div>
    <div class="col-1"></div>
</div>

<script type="text/javascript">
     $(function() {
          $('#id_term_length').unbind('change');
          $('#id_term_length').bind('change', function() { submit_changed(); } );
         
          $('#submit-id-save').unbind('save');
          $('#submit-id-save').bind('click', function() { submit_clean(); } );
     });

     function submit_changed() {
        if (document.forms[0].action.endsWith("?changed=True") == false)
         {
             document.forms[0].action = document.forms[0].action + "?changed=True"
         }

        document.forms[0].submit()
     }
     
     function submit_clean() {
         document.forms[0].action = document.forms[0].action.replace("?changed=True", "")
         document.forms[0].submit()
     }
</script>