<div class="card collective-card">
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'summary_meta_package' package.pk %}">{{ package.name }}</a></h5>
        <div class="row collection-card-content">
            <div class="col-7">
                {{ package.description|safe|truncatechars_html:250 }}
                {% for sp in package.packages.all %}
                    <a href="{% url 'summary_package_initiative' 'package' sp.pk %}" data-toggle="tooltip" data-placement="top" title="{{ sp.name }}"
                       class="btn btn-sm btn-outline-danger btn-collective">{{ sp.initiative.short_code }}</a>
                {% endfor %}
            </div>
            <div class="col-5">
                <ul class="list-unstyled">
                    {% if package.recommended %}
                        <li><i class="fa fa-check-circle"></i> {% get_site_text 'recommended' %}
                        </li>
                    {% endif %}
                    <li><i class="fa fa-building"></i> {{ package.initiative_list|length }} {% get_site_text 'initiatives' %}</li>
                    <li><i class="fa fa-calendar-alt"></i> {% get_site_text 'months_contract' %}</li>
                    <li><i class="fa fa-edit"></i> {% get_site_text 'pricing' %} {% if package.pre_calc %}{{ package.pre_calc }}{% else %}{{ package.pricing_display }}{% endif %} {% get_site_text 'per_year' %}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-6">
                <p><i class="fa fa-arrow-right"></i> <a href="{% url 'summary_meta_package' package.pk %}">{% get_site_text 'more_information' %}</a></p>
            </div>
            <div class="col-6">
                {% if request.site.enable_signup and request.site.enable_meta_package_signup %}
                <a class="btn btn-primary btn-obc-blue float-right" href="{% url 'manage_basket_meta_package' package.pk %}">{% get_site_text 'add_to_quote' %} <span class="fa fa-plus"></span>
                </a>
                {% else %}
                    {% get_site_text 'collective_signup_disabled' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>