{% load static %}

<div class="card collective-card package-card">
    <div class="card-body">
        <div class="row">
            <div class="col-9 dashed-border-right">
                <h5 class="card-title"><a class="card-title" href="{% url 'public_initiative' initiative.pk %}">{{ initiative.name }}</a></h5>
                <span class="package-styled-text">{{ initiative.description|safe|truncatechars_html:250 }}</span>
            </div>

            <div class="col-3">
                <a class="card-title" href="{% url 'public_initiative' initiative.pk %}"><img class="img-fluid" src="{% if initiative.image %}{{ initiative.image.url }}{% else %}{% static "frontend/img/logo.svg" %}{% endif %}"
                                                                                              alt="{{ initiative.name }}"/></a>
                <div class="dropdown">
                    <a class="btn btn-primary btn-obc-blue btn-package float-right m-t-40"
                            type="button" id="dropdownMenuButton" href="{% url 'public_initiative' initiative.pk %}">{% get_site_text 'learn_more' %}</a>
                </div>

            </div>
        </div>

    </div>
</div>