{% extends "base/admin_base.html" %}
{% load django_bootstrap5 crispy_forms_tags %}

{% block breadcrumb %}

    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'initiative_user_initiatives' %}">{% get_site_text 'initiatives' %}</a>
    <li class="breadcrumb-item" aria-current="page">{% get_site_text 'contacts' %}</li>
    <li class="breadcrumb-item" aria-current="page">{% if contact %}{% get_site_text 'edit' %} {{ contact.name }}{% else %}{% get_site_text 'add' %}{% endif %}</li>
{% endblock breadcrumb %}

{% block content %}
<span id="active_page" class="contacts">&nbsp;</span>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{% if package %}{% get_site_text 'edit' %} {{ contact.name }}{% else %}{% get_site_text 'add' %}{% endif %}</h1>
                <p class="lead">{% get_site_text 'contacts_add_edit' %}</p>

                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-9">
                            <h2>{% get_site_text 'details' %}</h2>
                            {{ form|crispy }}
                            <button class="btn btn-success">{% get_site_text 'save' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}