{% extends "base/frontend/base_header_overlap_grey.html" %}
{% load static %}

{% block css %}
    <link href="{% static "frontend/css/packages.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
    {% get_site_text 'collections_and_collectives' %}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'oa_inits_header' %}</li>
{% endblock breadcrumb %}

<!-- Desktop -->
{% block header %}
    <div class="row text-left">
        <div class="col-1"></div>
        <div class="col text-left">
            <h1 class="text-left">{% get_site_text 'oa_inits_header' %}</h1>
            <p class="subhead-no-offset">{% get_site_text 'oa_inits_sub_header' %}</p>
        </div>
        <div class="col-2"><img class="catalogue-image" src="{% static "frontend/img/collective_five.svg" %}"
                                alt="{% get_site_text 'collections_and_collectives' %}"/></div>
        <div class="col-1"></div>
    </div>
{% endblock header %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="pill-row package-collection-pill-row">
                <button class="left-pill-blue inactive-blue-pill" onclick="location.href='{% url 'package_list' %}'">{% get_site_text 'packages' %}</button><button onclick="location.href='{% url 'initiative_list' %}'" class="right-pill-blue active-pill">{% get_site_text 'initiatives' %}</button>
            </div>
            {% if not request.site.enable_signup %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="{% get_site_text 'close' %}">×</button>
                {{ request.site.signup_disabled_notification }}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col package-collection-text">
            {% get_site_text 'initiative_pack' %}
        </div>
    </div>
    {% if request.site.enable_search_on_packages %}
    <div class="row spacer">
        <div class="col">
            <form method="GET">
                <div class="form-inline">
                    <div class="form-group">
                        <select class="sort-box form-control mb-2 mr-sm-2" type="text" name="initiative" id="sort-mobile"
                                onchange="this.form.submit()">
                            <option{% if request.GET.initiative == 'all' %} selected="selected"{% endif %} value="all">{% get_site_text 'all_initiatives' %}</option>
                            {% for initiative in initiatives %}
                                 <option{% if request.GET.initiative == initiative.pk_str %} selected="selected"{% endif %} value="{{ initiative.pk }}">{{ initiative.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="sort-box form-control mb-2 mr-sm-2" type="text" name="subject" id="sort-mobile"
                                onchange="this.form.submit()">
                            <option{% if request.GET.subject == 'all' %} selected="selected"{% endif %} value="all">{% get_site_text 'all_subjects' %}</option>
                            {% for subject in subjects %}
                                 <option{% if request.GET.subject == subject.subject_pk_str %} selected="selected"{% endif %} value="{{ subject.pk }}">{{ subject.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="sort-box form-control mb-2 mr-sm-2" type="text" name="sort" id="sort-mobile"
                                onchange="this.form.submit()">
                            <option{% if request.GET.sort == 'recommended' %} selected="selected"{% endif %} value="recommended">{% get_site_text 'recommended' %}</option>
                            <option{% if request.GET.sort == 'name' %} selected="selected"{% endif %} value="name">{% get_site_text 'name' %}</option>
                        </select>
                    </div>
                </div>
            </form>
            {% country_code_to_name as country_name %}
            <p>{% get_site_text 'pricing_country' %} {{ country_name|title }}. <a href="#" data-toggle="modal" data-target="#country_change_modal">{% get_site_text 'change_country' %}</a></p>
        </div>
    </div>
    {% endif %}
    <div class="content">
        <div class="row row-spacer">
            {% for package in packages %}
                <div class="col-12 package-col">
                    {% include "base/frontend/quote/elements/package.html" %}
                </div>
            {% empty %}
                 <div class="col-12 package-col">
                    <p>{% get_site_text 'no_results' %}</p>
                 </div>
            {% endfor %}
        </div>
    </div>
    {% include "elements/country_change_modal.html" %}
{% endblock body %}

<!-- Mobile -->
{% block header-mobile %}
    <div class="row catalogue-header-mobile">
        <div class="col-1"></div>
        <div class="col-10">
            <img class="catalogue-image-mobile img-fluid" src="{% static "frontend/img/collective_five.svg" %}"
                 alt="{% get_site_text 'build_your_quote' %}"/>
            <h1>{% get_site_text 'oa_inits_header' %}</h1>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="catalogue-info-row-mobile row">
        <div class="col-1"></div>
        <div class="col-10">
            <p>{% get_site_text 'oa_inits_sub_header' %}</p>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock header-mobile %}

{% block body-mobile %}
    {% if not search_on %}
    <div class="row package-main-mobile">
    <div class="col">
        <div class="pill-row">
            <button class="left-pill-blue inactive-blue-pill" onclick="location.href='{% url 'package_list' %}'">{% get_site_text 'packages' %}</button><button onclick="location.href='{% url 'initiative_list' %}'" class="right-pill-blue active-pill">{% get_site_text 'initiatives' %}</button>
        </div>
        <h2>{% get_site_text 'initiatives_header' %}</h2>
    </div>
    </div>
    <div class="row row-spacer">
        {% for package in meta_packages %}
            <div class="col-12 package-col">
                {% include "base/frontend/quote/elements/package_mobile.html" with meta="meta" %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if not collectives_only %}

    <div class="row spacer">
        <div class="col package-col package-collection-text">
            {% get_site_text 'initiative_pack' %}
            <form method="get">
                <div class="form-group">
                    <select class="sort-box form-control mb-2 mr-sm-2" type="text" name="initiative" id="sort-mobile"
                            onchange="this.form.submit()">
                        <option{% if request.GET.initiative == 'all' %} selected="selected"{% endif %} value="all">
                            {% get_site_text 'all_initiatives' %}
                        </option>
                        {% for initiative in initiatives %}
                            <option{% if request.GET.initiative == initiative.pk_str %} selected="selected"{% endif %}
                                                                                        value="{{ initiative.pk }}">{{ initiative.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="sort-box form-control mb-2 mr-sm-2" type="text" name="subject" id="sort-mobile"
                            onchange="this.form.submit()">
                        <option{% if request.GET.subject == 'all' %} selected="selected"{% endif %} value="all">{% get_site_text 'all_subjects' %}
                        </option>
                        {% for subject in subjects %}
                            <option{% if request.GET.subject == subject.subject_pk_str %} selected="selected"{% endif %}
                                                                                          value="{{ subject.pk }}">{{ subject.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="sort-box form-control mb-2 mr-sm-2" type="text" name="sort" id="sort-mobile"
                                onchange="this.form.submit()">
                            <option{% if request.GET.sort == 'recommended' %} selected="selected"{% endif %} value="recommended">{% get_site_text 'recommended' %}</option>
                            <option{% if request.GET.sort == 'name' %} selected="selected"{% endif %} value="name">{% get_site_text 'name' %}</option>
                        </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row row-spacer">
        {% for package in packages %}
            <div class="col-12 package-col">
                {% include "base/frontend/quote/elements/package_mobile.html" %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock body-mobile %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock js %}