{% load static %}
<div class="row">
    <div class="col">
        <div class="pill-row">
            {% include "summary/buttons.html" with active="summary" %}
        </div>
    </div>
</div>
<div class="row catalogue-main">
    <div class="col-1"></div>
    <div class="col-8">
        <div class="larger-package-styled-text">
            {{ initiative.description|safe }}
        </div>

        {% if request.site.enable_standards %}
            <h3 class="text-left spacer-top-10">Standards</h3>
            {% get_site_text 'standards_info' %}
            <ul>
                {% for standard in package.standards %}
                    <li><a target="_blank"
                           href="{{ standard.details_url }}">{{ standard.standard.standard_name }}</a></li>
                    {% empty %}
                    <li>This package adheres to none of our standards.</li>
                {% endfor %}
                {% if package.attestationhistory_set.all %}
                    <li><a href="#" data-toggle="modal" data-target="#history_modal">View attestation history</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    <div class="col-3">
        {% include "summary/sidebar.html" %}
    </div>

</div>
<div class="modal" id="history_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title white-text">Standards Attestation History</h4>
                <button type="button" class="close white-text" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body package-modal-body">
                <ul>
                    {% for history in package.attestationhistory_set.all %}
                        <li>{{ history.standard.standard_name }} {{ history.add_or_remove }}
                            on {{ history.date_time }}</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>