{% extends "base/admin_base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% get_site_text 'manage_subject_vocabs' %}{% endblock %}
{% block page-title %}{% get_site_text 'manage_subject_vocabs' %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard_index' %}">{% get_site_text 'dashboard' %}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'subjects' %}">{% get_site_text 'manage_subject_vocabs' %}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'subjects' %}">
        {% if subject %}{% get_site_text 'edit_subject' %} {{ subject.pk }}{% else %}{% get_site_text 'add_new_subject' %}{% endif %}
    </a></li>
{% endblock %}

{% block content %}
    <!-- this span expands the platform manager tab -->
    <span id="expand_platform_manager">&nbsp;</span>

    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="subjects">&nbsp;</span>

    <section class="content">
        <div class="container-fluid">
            <p class="lead">
                {% if subject %}{% get_site_text 'edit_subject' %} {{ subject.pk }}{% else %}{% get_site_text 'add_new_subject' %}{% endif %}
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-success">{% get_site_text 'save' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
