{% extends "base/admin_base.html" %}
{% load static two_factor %}
{% load crispy_forms_tags %}


{% block title %}Banding Vocabulary Configuration{% endblock title %}

{% block breadcrumb %}
        <li class="breadcrumb-item" aria-current="page">Platform Management</li>
        <li class="breadcrumb-item" aria-current="page">Banding Vocabulary Configuration</li>
    {% endblock breadcrumb %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">Add a new or edit an existing banding vocabulary</p>
                <form method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                          {{form.text|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                          {{form.upper_limit|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                          {{form.lower_limit|as_crispy_field}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <button type="submit" name="set_current" class="btn btn-success">Save Element</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}