{% extends "base/admin_base.html" %}
{% load static two_factor %}
{% load crispy_forms_tags %}


{% block title %}{% get_site_text 'standard_attestation_configuration' %}{% endblock title %}

{% block breadcrumb %}
        <li class="breadcrumb-item" aria-current="page">{% get_site_text 'platform_management' %}</li>
        <li class="breadcrumb-item" aria-current="page">{% get_site_text 'standard_attestation_configuration' %}</li>
    {% endblock breadcrumb %}

{% block content %}
    <!-- this span expands the platform manager tab -->
    <span id="expand_platform_manager">&nbsp;</span>

    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="standards">&nbsp;</span>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">{% get_site_text 'add_edit_standard_attestation' %}</p>
                <form method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                          {{form.standard_name|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                          {{form.text|as_crispy_field}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <button type="submit" name="set_current" class="btn btn-success">{% get_site_text 'save_element' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
