{% extends "base/admin_base.html" %}
{% load booleans %}

{% block title %}Manage Standards{% endblock %}
{% block page-title %}Manage Standards{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard_index' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage Standards</li>
{% endblock %}

{% block dashboard_js %}
    {% include "elements/datatables.js.html" with target='vocabs' %}
{% endblock dashboard_js %}

{% block content %}
    <!-- this span expands the platform manager tab -->
    <span id="expand_platform_manager">&nbsp;</span>

    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="standards">&nbsp;</span>

    <section class="content">
        <div class="container-fluid">
            <p class="lead">
                Manage Standards for Attestation
            </p>

                <table class="table-striped table" id="vocabs">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vocab in vocabs %}
                    <tr>
                        <td>{{ vocab.standard_name|safe }}</td>
                        <td><a href="{% url 'standard_edit' vocab.pk %}?return={{ request.path|urlencode }}" class="btn btn-success">Edit</a></td>
                        <td><form method="POST" action="{% url 'standard_delete' vocab.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="Delete"/></form></td>

                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            <form method="POST">
                {% csrf_token %}
                <p>
                    <a class="btn btn-success" href="{% url 'standard_new' %}?return={{ request.path|urlencode }}">Add new standard</a>
                </p>
            </form>

        </div>
    </section>
{% endblock content %}
