{% extends "base/admin_base.html" %}
{% load booleans %}

{% block title %}{% get_site_text 'manage_subject_vocabs' %}{% endblock %}
{% block page-title %}{% get_site_text 'manage_subject_vocabs' %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard_index' %}">{% get_site_text 'dashboard' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'manage_subject_vocabs' %}</li>
{% endblock %}

{% block dashboard_js %}
    {% include "elements/datatables.js.html" with target='vocabs' %}
{% endblock dashboard_js %}

{% block content %}
    <!-- this span expands the platform manager tab -->
    <span id="expand_platform_manager">&nbsp;</span>

    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="subjects">&nbsp;</span>

    <section class="content">
        <div class="container-fluid">
            <p class="lead">{% get_site_text 'subject_list_description' %}</p>
            <p>
                <a class="btn btn-success" href="{% url 'new_subject' %}?return={{ request.path|urlencode }}">{% get_site_text 'add_new_subject' %}</a>
            </p>
            <table class="table-striped table" id="vocabs">
                <thead>
                <tr>
                    <th>{% get_site_text 'name' %}</th>
                    <th>{% get_site_text 'edit' %}</th>
                    <th>{% get_site_text 'delete' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for subject in subjects %}
                    <tr>
                        <td>{{ subject.name }}</td>
                        <td><a href="{% url 'edit_subject' subject.pk %}" class="btn btn-sm btn-warning">{% get_site_text 'edit' %}</a></td>
                        <td>
                            <form method="POST">{% csrf_token %}
                                <button name="delete" value="{{ subject.pk }}" class="btn btn-sm btn-danger">{% get_site_text 'delete' %}</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}
