{% extends "base/admin_base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% get_site_text 'create_banding_type' %}{% endblock %}
{% block page-title %}{% get_site_text 'create_banding_type' %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard_index' %}">Dashboard</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'package_banding_type_list' %}">Banding Types List</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'create_new_banding_type' %}</li>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <p class="lead">{% get_site_text 'create_banding_type_description' %}</p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary">{% get_site_text 'save_new_banding_type' %}</button>
            </form>

        </div>
    </section>
{% endblock content %}
