{% extends "base/admin_base.html" %}

{% block title %}
{% get_site_text 'initiatives' %}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'initiative_user_initiatives' %}">{% get_site_text 'initiatives' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'initiative_packages' initiative.pk %}">{{ initiative.name }} {% get_site_text 'packages' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ package.name }}</li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'package_bandings' package.pk initiative.pk %}">{% get_site_text 'edit_bandings' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ banding_type_entry.banding_type.name }}</li>
{% endblock breadcrumb %}

{% block dashboard_js %}
    {% include "elements/datatables.js.html" with target='currency' %}
{% endblock dashboard_js %}

{% block content %}
    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="my_initiatives">&nbsp;</span>

    <section class="content">
        <div class="container-fluid">
            <h1>{% get_site_text 'currencies_for' %} {{ banding_type_entry.banding_type.name }} {% get_site_text 'in' %} “{{ package.name }}”</h1>
            <p class="lead">{% get_site_text 'currencies_associated' %}</p>
            <form method="POST">
                {% csrf_token %}
                {{ country_list }} <input class="btn btn-success" type="submit" name="add_new" id="add_new" value="{% get_site_text 'add_this_currency' %}">
            </form>

            <br/> <br/>

            <table class="table table-striped" id="currency">
                <thead>
                    <tr>
                        <th>{% get_site_text 'name' %}</th>
                        <th>{% get_site_text 'edit_prices' %}</th>
                        <th>{% get_site_text 'remove_currency_and_prices' %}</th>
                        <th>{% get_site_text 'payment_processor' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for banding_currency in banding_type_currencies %}
                    <tr>
                        <td>{{ banding_currency.country }}</td>
                        <td><a href="{% url 'manage_package_banding_currencies_prices' package.pk initiative.pk banding_currency.banding_type_entry.pk banding_currency.pk %}" class="btn btn-success">{% get_site_text 'edit_prices' %}</a></td>
                        <td><form method="POST" action="{% url 'delete_package_banding_currency' package.pk initiative.pk banding_currency.banding_type_entry.pk banding_currency.pk %}">{% csrf_token %} <input type="submit" class="btn btn-danger delete" name="delete" value="{% get_site_text 'remove_currency_and_prices' %}"/></form></td>
                        <td><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#paymentprocessor-{{ banding_currency.pk }}">{{ banding_currency.payment_processor|default_if_none:"{% get_site_text 'select_payment_processor' %}" }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    {% for banding_currency in banding_type_currencies %}
    <div class="modal" id="paymentprocessor-{{ banding_currency.pk }}">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{% get_site_text 'manage_payment_processor_for' %} {{ banding_currency.country }}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <p>{% get_site_text 'payment_processors_listed' %} {{ banding_currency.country }}. {% get_site_text 'set_or_leave_empty' %}</p>
                        {% if banding_currency.payment_processor %}<p>{% get_site_text 'current_payment_processor' %} <strong>{{ banding_currency.payment_processor }}</strong></p>{% endif %}
                        <label for="select_payment_processor">{% get_site_text 'select_payment_processor' %}</label><br/>
                        <select name="select_payment_processor" id="select_payment_processor" class="form-control">
                            <option value="">{% get_site_text 'select_payment_processor' %}</option>
                            {% for processor in banding_currency.country.paymentprocessor_set.all %}
                                <option value="{{ processor.pk }}">{{ processor }}</option>
                            {% endfor %}
                        </select>
                        <br />
                        <button name="payment_processor" value="{{ banding_currency.pk }}" class="btn btn-success form-control">{% get_site_text 'save' %}</button>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{% get_site_text 'close' %}</button>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}
