{% extends "base/admin_base.html" %}
{% load i18n two_factor static crispy_forms_tags %}
{% load booleans %}

{% block title %}{% get_site_text 'manage_redirect_for' %} {{ banding}}{% endblock %}
{% block page-title %}{% get_site_text 'manage_redirect_for' %} {{ banding }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'dashboard_index' %}">Dashboard</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'package_banding_type_list' %}">Banding Types List</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage {{ banding_type.name }} Redirect</li>
{% endblock %}


{% block content %}
        <!-- this span sets the active page in the menu -->
    <span id="active_page" class="my_initiatives">&nbsp;</span>

    <section class="content">
        <div class="container-fluid">
            <p class="lead">{% get_site_text 'redirect_description' %}</p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="form-control" type="submit"/>
            </form>

        </div>
    </section>
{% endblock content %}
