{% extends "base/admin_base.html" %}
{% load django_bootstrap5 crispy_forms_tags %}

{% block breadcrumb %}

    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'initiative_user_initiatives' %}">{% get_site_text 'initiatives' %}</a>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'initiative_packages' initiative.pk %}">{{ initiative.name }} {% get_site_text 'access' %}</a></li>
    <li class="breadcrumb-item" aria-current="page">{% get_site_text 'change_access' %}</li>
{% endblock breadcrumb %}

{% block content %}
<span id="active_page" class="list_signups">&nbsp;</span>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{% get_site_text 'add_access_control_entry' %}</h1>
                <p class="lead">{% get_site_text 'add_access_control_instruction' %}</p>
                <b class="alert-warning">{% get_site_text 'access_control_warning' %}</b>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-9">
                            {{ form|crispy }}
                            <button class="btn btn-success">{% get_site_text 'save' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
