{% extends "base/admin_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {% get_site_text 'price_debugger' %}
{% endblock title %}

{% block page-title %}
    {% get_site_text 'price_debugger' %}
{% endblock page-title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">{% get_site_text 'price_debugger' %}</a></li>
{% endblock %}

{% block content %}
    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="debugger">&nbsp;</span>

    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <p>{% get_site_text 'debugger_intro' %}</p>

                    <p>{% get_site_text 'debugger_prerequisite' %}</p>

                    <ol>
                        <li>Platform Managers at OBC setup bandings that have tiers that are either banded or based on FTE (“Jisc Collections” → “Band 1”, “Band 2” / “Carnegie” → “Big (1000 FTE)”, “Medium (500 FTE)”, “Small (100 FTE)”).</li>
                        <li>Packages have associated bandings (“Open Book Publishers Membership” can say it uses “Jisc” and “Carnegie”).</li>
                        <li>Packages can specify which currencies they provide an associated banding in. So Jisc Collections, “Band 1”, could be paid for in GBP or USD.</li>
                        <li>Packages can set the default banding that they wish to use.</li>
                        <li>Packages set prices for currency-associated-bandings (BandingTypeCurrencyEntries). (E.g. a price for Jisc Band 1 in GBP).</li>
                        <li>Payment processors are associated with a currency-associated banding. So LYRASIS are set to handle all prices in Jisc Band 1 in USD.</li>
                    </ol>

                    <p>{% get_site_text 'debugger_flow_intro' %}</p>
                    <ol>
                        <li>Find any/all prices in the user’s preferred currency.</li>
                        <li>Check if we can match this against the user’s stored information (FTE/bandings).</li>
                        <li>If not, fall back to package default banding and currency.</li>
                        <li>Check if we can match this against the user’s stored information (FTE/bandings).</li>
                        <li>If not, ask user to give their details.</li>
                    </ol>

                        <select class="form-control" aria-label="user to test" id="user" name="user">
                            {% for user in user_list %}
                                <option id="user-{{ user.pk }}" value="{{ user.pk }}" {% if user.pk == user_to_test.pk %}selected="selected"{% endif %}>{{ user.profile.full_name }} ({{ user.username }})</option>
                            {% endfor %}
                        </select>

                        <select class="form-control" aria-label="package to test" id="package" name="package">
                            {% for package in packages %}
                                <option id="package-{{ package.pk }}" value="{{ package.pk }}" {% if package.pk == package_to_test.pk %}selected="selected"{% endif %}>{{ package.name }}</option>
                            {% endfor %}
                        </select>
                    <p>
                        <input class="form-control" type="submit" value="{% get_site_text 'debug_button' %}" name="Debug"/>
                    </p>
                </div>
            </div>

            {% if result %}
                <div class="row">
                    <div class="col">
                        <p>{% get_site_text 'debug_result' %}</p>
                        <textarea aria-label="debug result" style="width:100%; height:500px">{{ result }}</textarea>
                    </div>
                </div>
            {% endif %}
        </form>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
