{% extends "base/admin_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {% get_site_text 'price_debugger' %}
{% endblock title %}

{% block page-title %}
    {% get_site_text 'price_debugger' %}
{% endblock page-title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">{% get_site_text 'price_debugger' %}</a></li>
{% endblock %}

{% block content %}
    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="debugger">&nbsp;</span>

    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <p>{% get_site_text 'debugger_intro' %}</p>

                    <p>{% get_site_text 'debugger_prerequisite' %}</p>

                    <ol>
                        <li>{% get_site_text 'debugger_platform_managers' %}</li>
                        <li>{% get_site_text 'debugger_packages_associated_bandings' %}</li>
                        <li>{% get_site_text 'debugger_packages_specify_currencies' %}</li>
                        <li>{% get_site_text 'debugger_packages_set_default_banding' %}</li>
                        <li>{% get_site_text 'debugger_packages_set_prices' %}</li>
                        <li>{% get_site_text 'debugger_payment_processors_associated' %}</li>
                    </ol>

                    <p>{% get_site_text 'debugger_flow_intro' %}</p>
                    <ol>
                        <li>{% get_site_text 'debugger_find_prices' %}</li>
                        <li>{% get_site_text 'debugger_check_match_user_info' %}</li>
                        <li>{% get_site_text 'debugger_fallback_default_banding' %}</li>
                        <li>{% get_site_text 'debugger_check_match_user_info' %}</li>
                        <li>{% get_site_text 'debugger_ask_user_details' %}</li>
                    </ol>

                        <select class="form-control" aria-label="user to test" id="user" name="user">
                            {% for user in user_list %}
                                <option id="user-{{ user.pk }}" value="{{ user.pk }}" {% if user_to_test and user_to_test.pk and user.pk == user_to_test.pk %}selected="selected"{% endif %}>{{ user.profile.full_name }} ({{ user.username }})</option>
                            {% endfor %}
                        </select>

                        <select class="form-control" aria-label="package to test" id="package" name="package">
                            {% for package in packages %}
                                <option id="package-{{ package.pk }}" value="{{ package.pk }}" {% if package_to_test and package_to_test.pk and package.pk == package_to_test.pk %}selected="selected"{% endif %}>{{ package.name }}</option>
                            {% endfor %}
                        </select>
                    <p>
                        <input class="form-control" type="submit" value="{% get_site_text 'debug_button' %}" name="Debug"/>
                    </p>
                </div>
            </div>

            {% if result %}
                <div class="row">
                    <div class="col">
                        <p>{% get_site_text 'debug_result' %}</p>
                        <textarea aria-label="debug result" style="width:100%; height:500px">{{ result }}</textarea>
                    </div>
                </div>
            {% endif %}
        </form>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
