{% extends "base/base.html" %}

{% block breadcrumb %}

    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'packages' %}</li>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{% get_site_text 'packages' %}</h1>
        <p class="lead">{% get_site_text 'view_select_packages' %}</p>
    </div>
    <div class="col-md-6">
        <h2>{% get_site_text 'packages' %}</h2>
        <p>{% get_site_text 'individual_packages' %}</p>
        {% for package in packages %}
            {% include "package/elements/package.html" %}
        {% empty %}
            <p class="lead">{% get_site_text 'no_packages_display' %}</p>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <h2>{% get_site_text 'meta_packages' %}</h2>
        <p>{% get_site_text 'groups_of_packages' %}</p>
        {% for package in meta_packages %}
            {% include "package/elements/package.html" with meta="meta" %}
        {% empty %}
            <p class="lead">{% get_site_text 'no_meta_packages_display' %}</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
