{% extends "base/frontend/base_header_overlap_grey.html" %}
{% load static %}


{% block css %}
    <link href="{% static "frontend/css/packages.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
    {% get_site_text 'quotations' %}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">{% get_site_text_no_edit 'oa_inits_header' %}</li>
{% endblock breadcrumb %}

<!-- Desktop -->
{% block header %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-left">
            <h1 class="text-left">{% get_site_text_no_edit 'oa_inits_header' %}</h1>
            <p class="subhead-no-offset">{% get_site_text 'create_add_packages' %}</p>
        </div>
        <div class="col-2"><img class="catalogue-image" src="{% static "frontend/img/quotation_group.png" %}"
                                alt="Quotations logo"/></div>
        <div class="col-1"></div>
    </div>
{% endblock header %}

{% block body %}
    {% include "elements/manage_basket.html" %}
{% endblock body %}

<!-- Mobile -->
{% block header-mobile %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <img class="catalogue-image-mobile img-fluid" src="{% static "frontend/img/quotation_group.png" %}"
                 alt="Build your quote image"/>
            <h1>{% get_site_text 'oa_inits_header' %}</h1>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="catalogue-info-row-mobile row">
        <div class="col-1"></div>
        <div class="col-10">
            <p>{% get_site_text 'create_add_packages' %}</p>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock header-mobile %}

{% block body-mobile %}
    {% include "elements/manage_basket.html" %}
{% endblock body-mobile %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock js %}

