{% extends "base/admin_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
{% get_site_text 'initiatives' %}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'initiative_user_initiatives' %}">{% get_site_text 'initiatives' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'list_signups' %}">{% get_site_text 'signups' %}</a></li>
{% endblock breadcrumb %}

{% block dashboard_js %}
{% endblock %}

{% block content %}
    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="list_signups">&nbsp;</span>

    <section class="content">
        <div class="container-fluid">
            <h1>{% get_site_text 'signup_to' %} {{ signup.associated_package }} {% get_site_text 'by' %} {% if signup.associated_user.profile.institution.institution_name %}{{ signup.associated_user.profile.institution.institution_name }}{% else %}{{ signup.associated_user.profile }}{% endif %}</h1>
            <p class="lead">{% get_site_text 'signup_information' %}</p>
            <small>{% get_site_text 'gdpr_warning' %}</small></p>

            <table class="table table-striped" id="signups">
                <thead>
                    <tr>
                        <th>{% get_site_text 'data_field' %}</th>
                        <th>{% get_site_text 'value' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for field in signup.stored_answers %}
                    <tr>
                        <td>{{ field.order_form_answer.form_element_name }}</td>
                        <td>{{ field.order_form_answer.answer }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td>{% get_site_text 'price' %}</td>
                        <td>{{ signup.formatted_price }}</td>
                    </tr>
                </tbody>
            </table>

            <h2>{% get_site_text 'organisation_approval_status' %}</h2>
            <p>{% get_site_text 'organisation_approval_explanation' %}</p>
            <p>
                {% if signup.organisation_approved %}
                    <i class="fa fa-check-circle"></i> {% get_site_text 'approved_on' %}:{{ signup.organisation_approved }}.
                {% else %}
                    <i class="fa fa-times-circle"></i> {% get_site_text 'not_approved' %}.
                {% endif %}
            </p>
            <h2>{% get_site_text 'initiative_approval_status' %}</h2>
            {% if signup.initiative_approved %}
                <i class="fa fa-check-circle"></i> {% get_site_text 'signup_approved_on' %}: {{ signup.initiative_approved }}.
            {% else %}
                <p>{% get_site_text 'signup_not_approved' %}</p>
                <form method="POST">
                {% csrf_token %}
                    <button class="btn btn-success" name="approve" value="{{ signup.pk }}">{% get_site_text 'approve_signup' %}</button>
                </form>
            {% endif %}
            <br />

            {% if signup.associated_order.status == 'provisional' and not signup.organisation_approved %}
                    <h2>{% get_site_text 'documents' %}</h2>
                    <p>{% get_site_text 'upload_custom_document' %}</p>
                    {% crispy form %}
                {% endif %}
        </div>
    </section>
{% endblock content %}
