{% extends "base/admin_base.html" %}

{% block title %}
{% get_site_text 'initiatives' %}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'initiative_user_initiatives' %}">{% get_site_text 'initiatives' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'list_signups' %}">{% get_site_text 'signups' %}</a></li>
{% endblock breadcrumb %}

{% block dashboard_js %}
    {% include "elements/datatables.js.html" with target='signups' sort=9 order="desc" %}
{% endblock %}

{% block content %}
    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="list_signups">&nbsp;</span>

    <section class="content">
        <div class="container-fluid">
            <h1>{% get_site_text 'signups' %}</h1>
            <p class="lead">{% get_site_text 'signups_lead' %}</p>
            <p>{% get_site_text 'export_csv' %} <a href="{% url 'export_csv' 'signups' %}">{% get_site_text 'export_csv_link' %}</a>.
            <br/><small>{% get_site_text 'gdpr_warning' %}</small></p>

            <br/> <br/>

            <table class="table table-striped" id="signups">
                <thead>
                    <tr>
                        <th>{% get_site_text 'id' %}</th>
                        <th>{% get_site_text 'order_number' %}</th>
                        <th>{% get_site_text 'package' %}</th>
                        <th>{% get_site_text 'initiative' %}</th>
                        <th>{% get_site_text 'price' %}</th>
                        <th>{% get_site_text 'user' %}</th>
                        <th>{% get_site_text 'view_data' %}</th>
                        <th>{% get_site_text 'signup_date' %}</th>
                        <th>{% get_site_text 'approved_by_org' %}</th>
                        <th>{% get_site_text 'approved_by_initiative' %}</th>
                        <th>{% get_site_text 'status' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for signup in signups %}
                    <tr>
                        <td>{{ signup.pk }}</td>
                        <td>{{ signup.associated_order.order_number }}</td>
                        <td>{{ signup.associated_package.name }}</td>
                        <td>{{ signup.associated_package.initiative.name }}</td>
                        <td>{{ signup.formatted_price }}</td>
                        <td>{{ signup.associated_user.first_name }} {{ signup.associated_user.last_name }}</td>
                        <td><a href="{% url 'process_signup' signup.associated_package.pk signup.associated_package.initiative.pk signup.pk %}">View Data</a></td>
                        <td>{{ signup.signup_date }}</td>
                        <td>
                            {% if signup.organisation_approved %}
                                <i class="fa fa-check-circle"></i> {{ signup.organisation_approved }}
                            {% else %}
                                 <i class="fa fa-times-circle"></i> {% get_site_text 'not_approved' %}
                            {% endif %}
                        </td>
                        <td>
                            {% if signup.initiative_approved %}
                                <i class="fa fa-check-circle"></i> {{ signup.initiative_approved }}
                            {% else %}
                                <i class="fa fa-times-circle"></i> {% get_site_text 'not_approved' %}
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-success"
                               href="{% url 'process_signup' signup.associated_package.pk signup.associated_package.initiative.pk signup.pk %}">
                                {% if signup.organisation_approved and signup.initiative_approved %}{% get_site_text 'view' %}{% else %}{% get_site_text 'process_signup' %}{% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}
