{% extends "base/base.html" %}

{% block title %}{% get_site_text 'manage_accounts' %}{% endblock title %}

{% block breadcrumb %}

    
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'manage_accounts' %}</li>
{% endblock breadcrumb %}

{% block content %}
<table class="table" id="accounts">
    <thead>
    <tr>
        <th>{% get_site_text 'username' %}</th>
        <th>{% get_site_text 'email' %}</th>
        <th>{% get_site_text 'first_name' %}</th>
        <th>{% get_site_text 'last_name' %}</th>
        <th>{% get_site_text 'affiliation' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
    <tr>
        <td>{{ account.username }}</td>
        <td>{{ account.email }}</td>
        <td>{{ account.first_name }}</td>
        <td>{{ account.last_name }}</td>
        <td>{{ account.profile.affiliation }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block js %}
{% include "elements/datatables.js.html" with target='accounts' %}
{% endblock js %}