{% extends "base/base.html" %}

{% block title %}
{% get_site_text 'permissions' %}
{% endblock title %}

{% block breadcrumb %}

    
    <li class="breadcrumb-item" aria-current="page">{% get_site_text 'manager' %}</li>
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'permissions' %}</li>
{% endblock breadcrumb %}

{% block content %}
<h1>{% get_site_text 'permission_management' %}</h1>
<p class="lead">{% get_site_text 'permission_management_help' %}</p>

<form method="POST">
    {% csrf_token %}
    <button name="save" class="btn btn-success float-end">{% get_site_text 'save' %}</button>
    <table class="table" id="groups">
        <thead>
        <tr>
            <th>{% get_site_text 'view_name' %}</th>
            {% for group in groups %}
            <th>{{ group }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for vg in view_groups %}
        <tr>
            <td>{{ vg.view_name }}</td>
            {% for group in groups %}
            <td><input name="permissions[]" value="{{ vg.pk }}-{{ group.pk }}" type="checkbox" {% if group in vg.groups.all %}checked="checked" {% endif %}></td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button name="save" class="btn btn-success float-end">{% get_site_text 'save' %}</button>
</form>
{% endblock content %}
