{% extends "base/admin_base.html" %}
{% load static two_factor %}

{% block title %}{% get_site_text 'profile' %}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">{% get_site_text 'profile' %}</a></li>
{% endblock %}

{% block content %}

    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="my_information">&nbsp;</span>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans "Profile" %}</h1>
            </div>
            <div class="col-md-3">
                {% if user.profile.image %}
                    <img src="{{ user.profile.image.url }}" class="img-fluid" alt="{% get_site_text 'image_of' %} {{ user.profile.full_name }}">
                {% else %}
                    <img src="{% static 'img/avatar.png' %}" class="img-fluid" alt="{% get_site_text 'image_of' %} {{ user.profile.full_name }}">
                {% endif %}
                <br /><br />
                <div class="d-grid gap-2">
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary">{% get_site_text 'edit_profile' %}</a>
                    <a href="{% url 'two_factor:profile' %}" class="btn btn-secondary">{% get_site_text 'manage_account_security' %}</a>
                </div>
            </div>
            <div class="col-md-9">
                <h2>{{ user.profile.full_name }}</h2>
                {% if user.profile.affiliation %}
                    <p class="lead">
                        {{ user.profile.affiliation }}
                    </p>
                {% endif %}
                <table class="table table-borderless">
                    <tr>
                        <th>{% get_site_text 'username' %}</th>
                        <td>{{ request.user.username }}</td>
                    </tr>
                    <tr>
                        <th>{% get_site_text 'full_name' %}</th>
                        <td>{{ user.profile.full_name }}</td>
                    </tr>
                    <tr>
                        <th>{% get_site_text 'email' %}</th>
                        <td>{{ request.user.email }}</td>
                    </tr>
                    <tr>
                        <th>{% get_site_text 'institution' %}</th>
                        <td>{{ user.profile.institution.institution_name }}</td>
                    </tr>
                    <tr>
                        <th>{% get_site_text '2fa_enabled' %}</th>
                        <td>{% if default_device %}{% get_site_text 'is_enabled' %}{% else %}{% get_site_text 'disabled' %}.{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{% get_site_text 'bandings' %}</th>
                        <td><a href="{% url 'manage_account_bandings' %}">{% get_site_text 'configure_bandings' %}</a></td>
                    </tr>
                </table>
            </div>
        </div>
      </div>
    </section>
{% endblock content %}