{% extends "base/frontend/base.html" %}
{% load i18n two_factor static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">{% get_site_text 'login' %}</a></li>
{% endblock %}

{% block js %}
    <script src="{% static "frontend/js/configure_login.js" %}"></script>
{% endblock js %}

{% block body %}
    <div class="container-fluid main d-none d-md-block white-background grey-border">
        <div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8 login-row-header">
                            <div class="row">
                                <div class="col-4"><img src="{% static "frontend/img/login_padlock.svg" %}" alt="Login" class="img-fluid login-padlock"/></div>
                                <div class="col-8 login-header">
                                    <h1>{% block title %}{% get_site_text 'sign_in_to_account' %}{% endblock %}</h1>
                                </div>
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row">
                        <div class="col-2"></div>
                            <div class="col-8 login-row">
                            <p>{% get_site_text 'login_info' %}</p>
                            <p><strong>{% get_site_text 'post_login_info' %}</strong></p>
                                {% if wizard.steps.current == 'auth' %}
                                <p class="login-text">{% get_site_text 'auth_step_info' %}</p>
                              {% elif wizard.steps.current == 'token' %}
                                {% if device.method == 'call' %}
                                  <p>{% get_site_text '2fa_calling' %}</p>
                                {% elif device.method == 'sms' %}
                                  <p>{% get_site_text '2fa_text' %}</p>
                                {% else %}
                                  <p>{% get_site_text '2fa_token' %}</p>
                                {% endif %}
                              {% elif wizard.steps.current == 'backup' %}
                                <p>{% get_site_text '2fa_backup' %}</p>
                              {% endif %}

                              <form action="" method="post">{% csrf_token %}

                                {% include "two_factor/_wizard_forms.html" %}


                                {# hidden submit button to enable [enter] key #}
                                <input type="submit" value="" class="d-none" />

                                {% if other_devices %}
                                  <p>{% get_site_text '2fa_backup_phone' %}</p>
                                  <p>
                                    {% for other in other_devices %}
                                    <button name="challenge_device" value="{{ other.persistent_id }}"
                                            class="btn btn-secondary btn-block" type="submit">
                                      {{ other|device_action }}
                                    </button>
                                  {% endfor %}</p>
                                {% endif %}
                                {% if backup_tokens %}
                                  <p>{% get_site_text '2fa_last_resort' %}</p>
                                  <p>
                                    <button name="wizard_goto_step" type="submit" value="backup"
                                            class="btn btn-secondary btn-block">{% get_site_text '2fa_last_resort_button' %}</button>
                                  </p>
                                {% endif %}

                                <div class="forgotten-password-container">
                                    <a href="{% url 'password_reset' %}" class="forgotten-password">{% get_site_text 'forgot_your_password' %}</a>
                                </div>

                                {% include "two_factor/_wizard_actions.html" %}
                              </form>
                        </div>
                        <div class="col-2"></div>
                    </div>

                    <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8 login-row-bottom"></div>
                            <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body-mobile %}
    <div class="row login-row-header-mobile">
        <div class="col-4"><img src="{% static "frontend/img/login_padlock.svg" %}" alt="{% get_site_text 'login' %}" class="img-fluid login-padlock"/></div>
        <div class="col-8 login-header">
            <h1>{% get_site_text "sign_in_to_account" %}</h1>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row login-row">
        <div class="col">
            {% if wizard.steps.current == 'auth' %}
                <p class="login-text">{% blocktrans %}{% endblocktrans %}</p>
              {% elif wizard.steps.current == 'token' %}
                {% if device.method == 'call' %}
                  <p>{% get_site_text '2a_calling' %}</p>
                {% elif device.method == 'sms' %}
                  <p>{% get_site_text '2fa_text' %}</p>
                {% else %}
                  <p>{% get_site_text '2fa_token' %}</p>
                {% endif %}
              {% elif wizard.steps.current == 'backup' %}
                <p>{% get_site_text '2fa_backup' %}</p>
              {% endif %}

              <form action="" method="post">{% csrf_token %}
                {% include "two_factor/_wizard_forms.html" %}

                {# hidden submit button to enable [enter] key #}
                <input type="submit" value="" class="d-none" />

                {% if other_devices %}
                  <p>{% get_site_text '2fa_backup_phone' %}</p>
                  <p>
                    {% for other in other_devices %}
                    <button name="challenge_device" value="{{ other.persistent_id }}"
                            class="btn btn-secondary btn-block" type="submit">
                      {{ other|device_action }}
                    </button>
                  {% endfor %}</p>
                {% endif %}
                {% if backup_tokens %}
                  <p>{% get_site_text '2fa_last_resort' %}</p>
                  <p>
                    <button name="wizard_goto_step" type="submit" value="backup"
                            class="btn btn-secondary btn-block">{% get_site_text '2fa_last_resort_button' %}</button>
                  </p>
                {% endif %}

                <div class="forgotten-password-container-mobile">
                    <a href="{% url 'password_reset' %}" class="forgotten-password-mobile">{% get_site_text 'forgot_your_password' %}</a>
                </div>

                {% include "two_factor/_wizard_actions.html" %}
              </form>
        </div>
    </div>
{% endblock %}
