{% extends "base/admin_base.html" %}
{% load booleans %}

{% block title %}{% get_site_text 'manage_contacts_for' %} {{ banding_type.name }}{% endblock %}
{% block page-title %}{% get_site_text 'manage_contacts_for' %} {{ banding_type.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'initiative_user_initiatives' %}">{% get_site_text 'initiatives' %}</a></li>
    <li class="breadcrumb-item" aria-current="page">{{ initiative.name }}</li>
    <li class="breadcrumb-item active" aria-current="page">{% get_site_text 'manage_contacts' %}</li>
{% endblock %}

{% block dashboard_js %}
    {% include "elements/datatables.js.html" with target='vocabs' %}
{% endblock dashboard_js %}

{% block content %}

    <!-- this span sets the active page in the menu -->
    <span id="active_page" class="contacts">&nbsp;</span>

    <section class="content">
        <div class="container-fluid">
            <p class="lead">
                {% get_site_text 'select_contacts_for_events' %}<br/>
                <b class="alert-warning">{% get_site_text 'contacts_access_warning' %}</b>
            </p>
            <p>
                <a class="btn btn-success" href="{% url 'create_contact' %}"><i class="fas fa-plus"></i> {% get_site_text 'add_new_contact' %}</a>
            </p>
            <form method="POST">
                {% csrf_token %}
                <table class="table-striped table" id="vocabs">
                <thead>
                    <tr>
                        <th>{% get_site_text 'signup_notification' %}</th>
                        <th>{% get_site_text 'access_control_notification' %}</th>
                        <th>{% get_site_text 'name' %}</th>
                        <th>{% get_site_text 'email' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in signup_contacts %}
                    <tr>
                        <td><input type="checkbox" name="signup_contact" value="{{ contact.pk }}" {% if contact in package.signup_contacts.all %}checked="checked"{% endif %}></td>
                        <td><input type="checkbox" name="access_contact" value="{{ contact.pk }}" {% if contact in package.access_contacts.all %}checked="checked"{% endif %}></td>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <p>
                    <button class="btn btn-primary">{% get_site_text 'save_contacts_to_package' %}</button>
                </p>
            </form>

        </div>
    </section>
{% endblock content %}
