{% extends "base/admin_base.html" %}
{% load django_bootstrap5 %}

{% block breadcrumb %}

    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'initiative_user_initiatives' %}">Initiatives</a>
    <li class="breadcrumb-item" aria-current="page">{{ initiative.name }}</li>
    <li class="breadcrumb-item" aria-current="page">Packages</li>
    <li class="breadcrumb-item" aria-current="page">{% if package %}Edit {{ package.name }}{% else %}Create New Package{% endif %}</li>
{% endblock breadcrumb %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{% if package %}Edit {{ package.name }}{% else %}Add New Package{% endif %}</h1>
                <p class="lead">Add new and edit existing package.</p>

                <p>Before this package is displayed for signup it will be reviewed by a member of staff.</p>

                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-9">
                            <h2>Metadata</h2>
                            {% bootstrap_form form %}
                            <button class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}