{% extends "base/admin_base.html" %}
{% load django_bootstrap5 crispy_forms_tags %}
{% block title %}{% get_site_text 'create_new_package' %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'initiative_user_initiatives' %}">{% get_site_text 'initiatives' %}</a>
    <li class="breadcrumb-item" aria-current="page">{{ initiative.name }}</li>
    <li class="breadcrumb-item" aria-current="page">{% get_site_text 'packages' %}</li>
    <li class="breadcrumb-item" aria-current="page">{% get_site_text 'create_new_package' %}</li>
</ol>
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{% get_site_text 'create_new_package' %}</h1>
                <p class="lead">{% get_site_text 'select_banding_type' %}{% if user.is_staff %} {% get_site_text 'or' %} <a href="{% url 'package_banding_type_list' %}">{% get_site_text 'manage_available_bandings' %}</a>{% endif %}.</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-9">
                            <table class="table table-striped">
                                <tr>
                                    <th>{% get_site_text 'name' %}</th>
                                    <th>{% get_site_text 'uses_fte' %}</th>
                                    <th>{% get_site_text 'select' %}</th>
                                </tr>
                                {% for type in banding_types %}
                                    <tr>
                                        <td>{{ type.name }}</td>
                                        <td>{{ type.is_fte_display }}</td>
                                        <td><a href="{% url 'create_package' initiative.pk type.pk %}" class="btn btn-sm btn-success">Select</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
